/***
*
* Studio page styles
*
*/

.studio-content * {
    box-sizing: border-box;
}

.ahura-filter-tabs {
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: #fff;
    border-radius: 5px;
}

.ahura-filter-tabs ul {
    margin: 0;
    padding: 0;
}

.ahura-filter-tabs ul li {
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.ahura-filter-tabs ul li a {
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    text-decoration: none;
    transition: ease .3s;
}

.ahura-filter-tabs ul li a:hover {
    box-shadow: inset 0 -4px 0;
}

.ahura-filter-tabs ul li.active a {
    box-shadow: inset 0 -4px 0;
    color: #6e54ff;
}

.ahura-studio-filter-tab-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}

.filter-item-cover-loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    place-content: center;
    pointer-events: none;
}

.ahura-studio-filter-tab-items .filter-item {
    position: relative;
    background-color: #fff;
    padding: 5px;
    border-radius: 7px;
    transition: ease .4s;
}

.ahura-studio-filter-tab-items .filter-item-content {
    background-color: #fff;
    padding: 5px;
    border-radius: 7px;
}

.ahura-studio-filter-tab-items .filter-item .filter-item-title {
    text-align: center;
    font-size: 15px;
}

.ahura-studio-filter-tab-items.is-doing .filter-item:not(.is-doing) {
    filter: grayscale(1) blur(2px);
    opacity: .5;
    pointer-events: none;
    user-select: none;
}

.ahura-studio-filter-tab-items .filter-item.is-doing {
    background: linear-gradient(45deg,#00cc0a 25%, #00cc0a 25%, #fff 25%, #fff 50%, #00cc0a 50%, #00cc0a 75%, #fff 75%, #fff 100%);
    animation: bgAnimate 15s linear infinite;
    transition: .3s;
    background-size: 60px 60px;
}

.ahura-studio-filter-tab-items .filter-item-cover {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #f0f0f0;
    margin-bottom: 15px;
    border-radius: 7px;
}

.ahura-studio-filter-tab-items .filter-item-cover img {
    width: 100%;
    max-height: 100%;
    border-radius: 7px;
}

.ahura-studio-filter-tab-items .filter-item-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-column-gap: 15px;
}

.ahura-studio-filter-tab-items .filter-item-btns a {
    position: relative;
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 14px;
    transition: ease .3s;
    box-shadow: none;
    overflow: hidden;
}

.ahura-studio-filter-tab-items .filter-item-btns a span {
    position: relative;
    z-index: 5;
}

.ahura-studio-filter-tab-items .filter-item-btns a.studio-install-demo {
    background-color: #ede9ff;
    color: #6e54ff;
}

.ahura-studio-filter-tab-items .filter-item-btns a .is-loader {
    position: absolute;
    top: 13px;
    right: 10%;
    max-width: 80%;
}

.ahura-studio-filter-tab-items .filter-item-btns a.studio-install-demo:hover,
.ahura-studio-filter-tab-items .filter-item.is-doing .filter-item-btns a.studio-install-demo {
    background-color: #6e54ff;
    color: #fff;
}

.ahura-studio-filter-tab-items .filter-item.is-doing .filter-item-btns a.studio-install-demo {
    pointer-events: none;
    user-select: none;
    color: #919191;
    background-color: #f0f0f0;
}

.ahura-studio-filter-tab-items .filter-item.is-done {
    box-shadow: 0 0 15px #7bcf7a, inset 0 0 0 2px #7bcf7a;
}

.loader-dots {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader-dots div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bfbfbf;
    animation: loader_dots_animation 1.2s linear infinite;
}
.loader-dots div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.loader-dots div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.loader-dots div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.loader-dots div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.loader-dots div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.loader-dots div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.loader-dots div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.loader-dots div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.loader-dots div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

.ahura-studio-filter-tab-items .filter-item .filter-item-options {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: ease .4s;
    transform: scale(.3);
    border-radius: 150px;
    opacity: 0;
    pointer-events: none;
}

.ahura-studio-filter-tab-items .filter-item.is-doing .filter-item-options,
.ahura-studio-filter-tab-items .filter-item-options.show-options {
    opacity: 1;
    transform: scale(1);
    border-radius: 0;
}

.ahura-studio-filter-tab-items .filter-item-options.show-options {
    pointer-events: all;
}

.ahura-studio-filter-tab-items .filter-item.is-doing .float-options {
    opacity: 0;
    pointer-events: none;
}

.ahura-studio-filter-tab-items .filter-item-options.show-options li:last-child,
.ahura-studio-filter-tab-items .filter-item.is-doing .filter-item-options {
    pointer-events: none;
    user-select: none;
}

.swal2-container *:not(i) {
    font-family: 'IRANSans';
}

.swal2-container .swal2-title {
    margin-bottom: 15px;
    font-size: 22px;
}

.swal2-container .swal2-label {
    font-size: 14px;
}

@keyframes bgAnimate {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 1000px;
    }
}

.float-options {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    justify-content: start;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.float-options .float-item {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #787878;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    transition: ease .3s;
}

.float-options .float-item:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.search-wrap {
    padding: 15px;
}

.search-wrap input {
    width: 38%;
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    background-color: #f0f0f0;
    color: #000;
    padding: 15px;
}

.ahura-filter-tabs ul li.search-toggle {
    color: #424242;
    cursor: pointer;
}

.ahura-filter-tabs ul li.search-toggle span {
    font-size: 21px;
}

.ahura-studio-filter-tab-items .filter-item-btns a .btn-progress {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #c2f1c4;
    transition: ease .3s;
}

.filter-item-options label span em {
    font-size: 10px;
    display: inline-block;
    background-color: #FF9800;
    color: #fff;
    padding: 2px 7px;
    border-radius: 5px;
    margin: 0 5px;
    font-style: normal;
}

@media screen and (max-width: 1200px){
    .ahura-studio-filter-tab-items {
        grid-template-columns: repeat(4, 1fr);
    }

    .search-wrap input {
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    .ahura-studio-filter-tab-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .ahura-filter-tabs {
        white-space: nowrap;
        overflow-x: auto;
    }
}

@media screen and (max-width: 760px){
    .ahura-studio-filter-tab-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px){
    .ahura-studio-filter-tab-items {
        grid-template-columns: repeat(1, 1fr);
    }
}