@font-face{
  font-family: prk-font;
  font-weight: 400;
  src: url('eot/IRANSansWeb.eot');
  src: url('eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
  url('woff2/IRANSansWeb.woff2') format('woff2'),
  url('woff/IRANSansWeb.woff') format('woff'),
  url('ttf/IRANSansWeb.ttf') format('truetype');
}


@font-face {
	font-family: prk-font;
	font-weight: bold;
	src: url('eot/IRANSansWeb_Bold.eot');
	src: url('eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
	url('woff2/IRANSansWeb_Bold.woff2') format('woff2'),
	url('woff/IRANSansWeb_Bold.woff') format('woff'),
	url('ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
