.prk-tracking{
  width: 100%;
  margin: 0 auto;
}
.prk-tracking-title{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 13px !important;
}
.prk-traking-form-result{
  
}
.prk-tracking-title h2{
  font-weight: 700;
  color: #323232;
  line-height: 24px;
  margin: 10px 7px;
  font-size: 19px ! IMPORTANT;
  margin-bottom: 30px;
}
.prk-tracking-title .icon-tracking-title i{
  font-size: 56px;
  margin-top: 34px;
  display: block;
  color: #252525;
}
.prk-tracking-form-field label{
  display: block;
  position: relative;
  font-size: 14px;
  padding-bottom: 5px;
  color: #313131;
  font-weight: 600;
}

.prk-tracking-form-field #order_number,.prk-tracking-form-field #phone{
  padding-left: 10px;
  padding-right: 40px;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b3b1b1;
  color: #0f0f0f;
  border-radius: 13px;
  margin: auto;
  outline: 0;
}
.prk-tracking-inputer{
  position: relative;
  display: inline-block;
  width: 100%;
}
.prk-tracking-inputer::before{
  color: #888;
  font-weight: normal;
  position: absolute;
  margin-top: 13px;
  margin-right: 9px;
  margin-left: 13px;
  font-size: 26px;
}
.prk-tracking-form-field.order_number .prk-tracking-inputer::before{
  content: "\ebcc";
}
.prk-tracking-form-field.phone .prk-tracking-inputer::before{
  content: "\eb23";
}
.prk-tracking-form-field #phone:focus,.prk-tracking-form-field #phone:active,.prk-tracking-form-field #phone:focus,.prk-tracking-form-field #phone:active{
  outline: 0;
}
.prk-traking-form-submit input[type=submit]{
  font-size: 16px;
  color: #fff;
  background: #888 !important;
  padding: 15px 30px;
  border-radius: 12px;
  line-height: 16px;
  margin-top: 8px;
  cursor: pointer;
  display: block;
  width: 192px;
}
.prk-tracking-from{
  margin: 0 auto;
  border: 1px solid #e0e0e2;
  background: #fff;
  padding: 27px 22px;
  border-radius: 16px;
  width: 100%;
}
.prk-tracking-form-field.phone{
  margin-top: 15px;
}
.prk_ws_traking_box .statuses-title {
  margin-top: 25px;
  font-size: 17px;
  font-weight: bold;
  background: #FCFCFC;
  line-height: 32px;
  padding: 5px 15px;
  /* border: 1px solid #e0e0e2; */
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}
.prk_ws_traking_box .prk_wc_traking_steps {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #e0e0e2; */
  padding: 15px;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100%;
  border-radius: 0 0 8px 8px;
}
.prk_ws_traking_box .prk_wc_traking_steps .prk_wc_traking_step {
  text-align: center;
}
.prk_ws_traking_box .prk_wc_traking_steps .prk_wc_traking_step img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.35;
  max-width: 128px;
}
.prk_ws_traking_box .prk_wc_traking_steps .prk_wc_traking_step.active img {
  -webkit-filter: unset;
  filter: unset;
  opacity: 1;
}
.prk_ws_traking_box .prk_wc_traking_steps .prk_wc_traking_step .title {
  margin-top: 12px;
  color: #8E8E8E;
  text-align: center;
}
.prk_ws_traking_box .prk_wc_traking_steps .prk_wc_traking_step.active .title {
  color: #0c0c0c;
  font-weight: bold;
}

/* style result order track */
.prk-traking-form-result .description {
  background-color: #EFFAFC;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #0c0c0c !important;
  font-size: 14px !important;
}
.prk-tracking-list .label, .myaccount-view-order .address-details .shipping-address > div .label {
  color: #a1a3a8;
  line-height: 29px;
  font-size: 14px;
}
.prk-tracking-list  .label span.icons-Delivery-Post, .myaccount-view-order .address-details .shipping-address > div .label span.icons-Delivery-Post {
 margin-right: 0;
 margin-left: 5px;
}
.prk-tracking-list .label span.icons-Delivery-Post, .myaccount-view-order .address-details .shipping-address > div .label span.icons-Delivery-Post {
 color: #feb900;
 position: relative;
 top: 4px;
 font-size: 20px;
 margin-right: 5px;
}
.address-details .billing-address,.address-details .shipping-address {
  border-bottom: 1px solid #e0e0e2;
  padding-bottom: 15px;
}
.item-totals > div {
  margin-right: 15px;
  display: inline-block;
}
.item-totals > div:first-child{
  margin-right: 0;
}
.icons-Delivery-Post:before {
  font-family: parskala;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  content: "\E061\00FE0E";
}

.prk-tracking-list .customer-result{
  color: #0c0c0c;
  font-size: 14px;
  margin-right: 3px;
}

.order-items .order-item {
  display: flex;
  border-bottom: 1px solid #e0e0e2;
  padding: 20px 0;
  justify-content: space-between;
  width: 100%;
}
.item-totals{
  border-bottom: 1px solid #e0e0e2;
  padding: 10px 0;
}
.order-items .order-item .product-name{
  padding-right: 40px;
  padding-left: 0;
  flex-grow: 1;
}
.order-items .order-item .product-name .product-title{
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}
.order-items .order-item .product-img img {
    max-width: 90px;
}
.prk-wc-traking-img.delivered_img img{
  max-width: 104px !important;
}
.order-items .order-item .product-img a.go-product {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EF394E;
  color: #EF394E;
  border-radius: 8px;
  height: 42px;
  margin-top: 5px;
}
.order-items .order-item .product-img a span{
  font-size: 23px;
  position: relative;
  top: 5px;
}
.order-items .order-item .product-name .product-info{
  color: #62666d;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 24px;
}
.order-items .order-item .product-name .product-info .icon {
  margin-left: 10px;
  margin-right: 0;
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 1;
}
.order-items .order-item .product-name .product-info .icon.stock{
  margin-top: 8px;
}
.order-items .order-item .product-name .index-prices-pro div,.order-items .order-item .product-name .index-prices-pro{
  margin-top: 10px;
}
.order-items .order-item .product-name .index-prices-pro div,.order-items .order-item .product-name .index-prices-pro div ins{
    text-align: right;
}
.order-items .order-item .product-name .index-prices-pro div del{
  justify-content: right;
}
.order-items .order-item .product-name .view-product{
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}
.digikala-icon-cart::before{
  font-family: parskala;
  content: "\E0CC\00FE0E";
}
@media (max-width: 990px) {
  .prk-tracking{
    width: 100%;
    padding: 10px;
  }
  .prk_ws_traking_box .prk_wc_traking_steps .prk_wc_traking_step img{
    max-width: 60px !important;
  }
  .prk-wc-traking-img.delivered_img img{
    max-width: 49px !important;
  }
  .prk-traking-form-result p.description{
    font-size: 13px;
    line-height: 18px;
  }
  .prk_ws_traking_box .prk_wc_traking_steps .prk_wc_traking_step .title {
    font-size: 12px !important;
    margin-top: 7px;
  }
  .prk_ws_traking_box .prk_wc_traking_steps .prk_wc_traking_step{
    margin-left: 20px;
  }
  .order-items .order-item .product-name{
    font-size: 12px;
  }
  body .prk-tracking-from,body .prk-tracking-title{
    width: 100%;
  }
}

.woocommerce-MyAccount-content .prk-tracking{
  width: 100%;
}
