.cotiner-PRKSMSApp{
    position: relative;
    width: 98%;
    margin-left: 20px;
    margin-right: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.15), 0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 11px;
    overflow: hidden; 
    margin-top: 15px;
}
div.prk-sms-header-div > h1,
div.prk-sms-main-div {
    display: flex;
}
div.prk-sms-header-div > h1 {
    /* opacity: 85%; */
    font-size: 24px;
}
div.prk-sms-header-div > h1 > img {
    vertical-align: text-bottom;
    max-width: 230px;
    width: 230px;

}
div.prk-sms-main-div small {
    color: #949596;
}
td.prk-sms-main-footer-text {
    text-align: center;
}
div#prkSMSTabContent a {
    color: #0d5c9b;
    text-decoration: none;
}
.prk-sms-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.prk-theme_page_PRKSMSApp-test div#prkSMSTabContent tr{
    display: table-row;
}
.prk-theme_page_PRKSMSApp-test .prk-sms-header-div{
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    padding: 0 15px;
    transition: box-shadow .3s ease;
    height: 80px;
    max-height: 81px;
    display: flex;
    align-items: center;
}
.prk-theme_page_PRKSMSApp-test div#prkSMSTabContent{
    border-right: 0;
}
div.prk-sms-header-div > h1{
    font-size: 0;
}
.prk-sms-modal-content {
    background-color: #fefefe;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 580px;
    border-radius: 11px;
}
.prk-sms-modal-close {
    color: #1e2327;
    float: left;
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid #1e2327;
    opacity: 60%;
    width: 26px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 14px;
}
.prk-sms-modal-close:focus,
.prk-sms-modal-close:hover {
    opacity: 100%;
    text-decoration: none;
    cursor: pointer;
}
div.prk-sms-setting-main-div {
    width: 99%;
}
div#prkSMSTabContent {
    background: #fff;
    margin-left: 0;
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    border-right: 1px solid #ededed;
}
body .nav-tab-wrapper{
    width: 290px;
    background: #fff;
    margin-top: 0;
    padding-top: 0 !important;
    display: flex;
    flex-direction: column;
    border: 0;
}
body .nav-tab:active{
    border: 0!important;
    outline: 0 !important;
}
.nav-tab-active:active,
.nav-tab-active:focus,
body .nav-tab:active:focus,
.nav-tab-active:hover{
    border: 0!important;
    outline: 0 !important;   
}
.nav-tab-wrapper,
.wrap h2.nav-tab-wrapper,
h1.nav-tab-wrapper {
    padding: 0;
}
.nav-tab {
    line-height: 29px;
    color: #475569 !important;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    border: 0 !important;
    outline: 0 !important;
    background: #fff;
    margin: 5px 10px;
}
.nav-tab i{
    font-size: 1.4em !important;
    padding-left: 8px !important;
    margin: 0;
    font-weight: 500;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64748b;
}
.nav-tab.nav-tab-active i{
    color: #2563eb !important;
}
.PRKSMSApp-header{
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    padding: 0 15px;
    transition: box-shadow .3s ease;
    height: 80px;
    max-height: 81px;
    display: flex;
    align-items: center;
}
.PRKSMSApp-header .csf-header-inner{
    display: flex;
    align-items: center;
}
.PRKSMSApp-header .prk-sidebar-logo img{
    width: 230px;
    height: auto;
}
.nav-tab:focus{
    border: 0 !important;
    outline: 0 !important;    
}
.nav-tab-wrapper,
.wrap h2.nav-tab-wrapper,
h1.nav-tab-wrapper {
    background: #dcdcde;
}
.nav-tab-active{
    background: #eff6ff;
    color: #2563eb !important;
    font-weight: 600;
    transition: all .3s ease-in-out;
    border-radius: 4px;
}
input.prk-sms-form-control,
textarea.prk-sms-form-control {
    border-radius: 2px;
    border-color: #b5b3b3;
    width: 60%;
    height: 40px;
    margin: 0 10px;
    padding: 10px;
}
textarea.prk-sms-form-control {
    height: 100px;
}
input.form-control[type="checkbox"] {
    border-radius: 2px;
    border-color: #b5b3b3;
    width: 20px;
    height: 20px;
}
.prk-sms-form-text {
    margin: 0 20px 0 0;
}
.prk-sms-form-error {
    display: none;
    color: #dc3545 !important;
    font-size: 0.85rem;
}
p.tab-content-tips {
    padding: 5px 2%;
}
input#prkSMSInfoApiKey,
input[type="tel"] {
    direction: ltr;
}
div.contact-form-list,
div.gravity-form-list,
div.woocommerce-form-list {
    border: 1px solid #e5e5e5;
    margin: 30px 3%;
    height: 200px;
    overflow: auto;
    border-radius: 5px;
}
div.woocommerce-form-list::-webkit-scrollbar-thumb {
  background: #c0c2c5!important;
  border-radius:6px !important;
}
div.woocommerce-form-list::-webkit-scrollbar-track{
    background: #ececed!important;
}
div.woocommerce-form-list::-webkit-scrollbar {
    width: 10px !important;
}
/* Handle on hover */
div.woocommerce-form-list::-webkit-scrollbar-thumb:hover {
    background: #b1b1b1!important; 
}
p.prk-sms-label {
    padding: 0 10px;
    font-weight: 700;
    font-size: 14px;
}
p.prk-sms-head-label {
    padding: 20px 20px 0 0;
    font-size: 14px;
    font-weight: 700;
}
button.prk-sms-setting-button,
button.prk-sms-test-button {
    margin: 20px 15px !important;
}
div#prkSMSTabContent tr {
    border-bottom: 1px solid #f9f9f9;
    padding: 0 20px;
    display: flex;
}
table.prk-sms-form-table td.form-table-checkbox {
    width: 30%;
    padding: 9px 10px;
}
table.prk-sms-form-table td p{
    margin-top: 0;
}
table.prk-sms-form-table tr.form-table-description-input {
    border: none !important;
}
table.prk-sms-form-table tr.form-table-description-text td {
    padding: 0 20px;
}
input.prk-sms-modal-form-control,
textarea.prk-sms-modal-form-control {
    width: 97%;
    border-radius: 2px;
    margin: 0 5px;
    border-color: #b5b3b3;
}
.prk-sms-modal-form-control-error {
    border-color: #e0122b !important;
}
p.prk-sms-modal-button {
    text-align: center;
    margin: -20px;
}
p.prk-sms-modal-button > button {
    width: 100px;
}
button.prk-sms-setting-button{
    height: 40px;
    border-radius: 6px;
}
div.prk-sms-setting-main-div .dashicons {
    color: gray;
    font-weight: 700;
}
div.prk-sms-setting-main-div .dashicons-info {
    font-weight: 100;
}
div.prk-sms-list-div {
    padding: 5px 15px 10px;
    width: 96%;
}
p.prk-sms-label-danger {
    color: #e0122b;
    padding: 5px 10px;
}
button.prk-sms-setting-button.general,button.prk-sms-test-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0f172a !important;
    border-color: #0f172a !important;
    color: #fff;
    border-radius: 5px !important;
    padding: 10px !important;
    height: 43px;
    width: 150px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]:checked::before {
    padding: 1px 3px;
}
span.prk-sms-setting-parameter {
    cursor: pointer;
}
.prk-sms-toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 100px;
    background-color: #ddd;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
    z-index: 999999;
    top: -37px;
    right: 220px;
}
.prk-sms-check {
    position: absolute;
    display: block !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    z-index: 6;
}
.prk-sms-switch,
.prk-sms-track {
    position: absolute;
    display: block;
}
.prk-sms-check:checked ~ .prk-sms-track {
    box-shadow: inset 0 0 0 20px #2271b1;
}
.prk-sms-check:checked ~ .prk-sms-switch {
    right: 2px;
    left: 22px;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 50ms, 0s;
}
.prk-sms-switch {
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0s, 50ms;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.prk-sms-track {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
}
.info-box,
.info-box .info-box-icon {
    border-radius: 0.25rem;
    display: -webkit-flex;
    display: -ms-flexbox;
}
div#prkSMSModalMobileBulk,
div#prkSMSModalMobileVerify {
    margin-top: 0px;
}
#prkSMSModalMobileVerify .prk-sms-label{
    padding-top: 0;
    margin-top: 0;
}
.prk-sms-label.title-modal{
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}
input.prk-sms-right-placeholder::-webkit-input-placeholder {
    text-align: right;
}
input.prk-sms-left-placeholder::-webkit-input-placeholder {
    text-align: left;
}
.info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    background-color: #fff;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 90%;
}
.info-box .info-box-icon {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    font-size: 1.875rem;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}
.info-box .info-box-text,
.info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-box .info-box-number {
    display: block;
    margin-top: 15px;
    font-weight: 700;
    font-size: 25px;
}
#wpfooter {
    position: unset;
}
.elevation-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
.bg-info {
    background-color: #17a2b8 !important;
}
.bg-danger {
    background-color: #dc3545 !important;
}
.bg-success {
    background-color: #28a745 !important;
}
.bg-warning {
    background-color: #ffc107 !important;
}
.info-box .dashicons {
    font-size: 50px;
    color: #fff;
    margin-left: 30px;
    margin-bottom: 30px;
}
.info-box-content {
    padding-right: 10px;
}
#dataTable th {
    text-align: right !important;
}
@media only screen and (max-width: 600px) {
    input#prkSMSInfoApiKey,
    input.prk-sms-form-control,
    textarea.prk-sms-form-control {
        width: 95%;
    }
    .prk-sms-modal-content {
        width: unset;
    }
}
@media only screen and (max-width: 782px) {
    input#prkSMSInfoApiKey {
        width: 60%;
    }
    input[type="checkbox"]:checked::before {
        padding: 0;
    }
    table.prk-sms-form-table td.form-table-checkbox {
        width: 90%;
    }
}
section.prk-sms-client-form .panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
#dataTable > thead > tr > th:hover > p,
#dataTable > thead > tr > th:hover > p:after {
    position: absolute;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
section.prk-sms-client-form .panel-primary {
    border-color: #337ab7;
}
section.prk-sms-client-form .panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
section.prk-sms-client-form .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
}
section.prk-sms-client-form .panel-body {
    padding: 15px;
}
section.prk-sms-client-form input {
    margin: 20px auto;
}
section.prk-sms-client-form input::placeholder {
    text-align: right;
    direction: rtl;
}
section.prk-sms-client-form button {
    width: 100%;
}
button.button-error {
    color: #f6f7f7 !important;
    border-color: #dc3545 !important;
    background: #dc3545 !important;
}
button.button-error:hover {
    background: #ca313f !important;
    border-color: #ca313f !important;
    color: #f0f0f1 !important;
}
#dataTable > thead > tr > th {
    position: relative !important;
}
#dataTable > thead > tr > th > object {
    position: absolute !important;
    margin: 0 -1.5rem !important;
    cursor: pointer !important;
}
#dataTable > thead > tr > th:hover > p {
    display: block !important;
    width: 100px;
    height: auto;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 0.5rem;
    right: -8rem;
    top: -2rem;
    font-weight: 100;
}
#dataTable > thead > tr > th:hover > p:after {
    content: " ";
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    left: -4px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
#dataTable > tbody > tr > td > a {
    color: unset;
}


/* پیشنمایش */

.prk-sms-preview-box {
    padding: 10px;
    background: #f9f9f9;
    border: 1px dashed #ddd;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.8;
    position: relative;
    margin: 10px 4px 0 12px;
}
.prk-sms-preview-box .Preview-title{
    color: #000;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}
.prk-sms-preview-box .text{
    margin-top: 15px;
}
.prk-sms-preview-box .copy-btn {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 18px;
}


.prk-sms-preview-box .copied-msg {
    position: absolute;
    left: 39px;
    top: 15px;
    color: green;
    font-size: 13px;
}
/* راهنمای قالب پیامک */

.tg-sms-dialog.tg-dialog {
    box-shadow: 1px 4px 12px rgb(0 0 0 / 2%);
    border-radius: 8px;
}

.tg-sms-dialog.tg-dialog .tg-dialog-header {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tg-sms-dialog.tg-dialog .tg-dialog-header .tg-dialog-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.tg-sms-dialog.tg-dialog .tg-dialog-header .tg-dialog-close-btn {
    margin: 0;
}

.tg-sms-dialog.tg-dialog .tg-dialog-header .tg-dialog-close-btn svg {
    width: 13px;
    height: 13px;
}

.tg-sms-dialog.tg-dialog .tg-dialog-footer {
    padding: 0;
    display: none;
}

.tg-sms-dialog.tg-dialog .tg-dialog-body {
 padding: 0 16px 14px 16px;
}

.tg-sms-dialog.tg-dialog .tg-sms-btn-box {
    display: flex;
    justify-content: end;
    margin-top: 8px;
    padding-left: 6px;
}

.tg-sms-dialog.tg-dialog .tg-sms-btn {
    display: block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    background: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.tg-sms-dialog.tg-dialog .tg-sms-btn:hover {
    background: #135e96;
}

.tg-sms-dialog.tg-dialog .tg-dialog-body .tg-sms-text {
    margin: 0;
}
