body .csf-field-icon .csf-icon-select{
  flex-wrap: wrap;
}
#wpfooter{
  position: unset;
}
#publishing-action.prk-sticky-show{
  position: fixed;
  top: 110px;
  left: 0;
  z-index: 99;
}
#publishing-action.prk-sticky-show input#publish{
  height: 40px;
  width: 100px;
  box-shadow: 5px 2px 31px rgb(0 0 0 / 17%);
  border-radius: 0 11px 11px 0;
}
.prk_theme_style .disbale_Section .csf-field:not(.csf-field-notice.not-active-dokan){
  opacity: 0.1;
  pointer-events: none;
}
#toplevel_page_prk-theme img{
  height: 20px;
  padding-top: 7px;
  width: 20px;
}
.csf-subtitle-text span{
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.pattern-notice{
  background: unset;
}
#side-sortables .csf-field .csf-title{
  padding: 7px 0;
  border-bottom: 1px dashed #d7d7d7;
  font-size: 12px;
}
#side-sortables .csf-field .csf-fieldset{
  margin-top: 9px;
}
.control-section .csf-field .csf-title{
  padding: 10px 0;
}
.control-section .csf-help{
  top: 16px;
  left: 10px;
  right: unset;
}
.csf-field-switcher .csf--switcher{
  margin: 0;
}
.control-section .csf-field .csf-fieldset{
  margin-top: 12px;
}
.footer_style_type img{
  width: 600px;
}
.form_login_style  .csf--image-group{
  display: flex;
  align-items: center;
}
.form_login_style  .csf--image-group .csf--image:first-child img{
  height: 165px;
}
.form_login_style img{
  width: 200px;
  height: 155px;
}
.toplevel_page_prk-theme ul.wp-submenu .wp-first-item{
  display: none;
}
.subcategories_style img{
  width: 530px;
  height: 110px;
}
.subcategories_style .csf--image-group{
  display: flex;
  gap: 20px;
}
.menu-icon-prk-story img{
 padding-top: 4px !important;
}
#prk_sizeguidesettings .sg-single-setting small{
  margin-top: 10px;
}
.post-type-attribute_group .select2-container-multi .select2-choices{
  padding: 9px 0 0 6px !important;
}
.post-type-attribute_group .select2-container-multi .select2-choices .select2-search-choice {
   padding: 7px 16px 9px 5px !important;
   border-radius: 3px;
}
#woocommerce-group-attributes-agent label{
  padding-bottom: 8px;
  display: inline-block;
}
.post-type-attribute_group .select2-container-multi .select2-choices .select2-search-choice{
  background: #2271b1;
}
body .csf-show-all .csf-content{
  overflow: inherit;
}
body .csf-field-icon .csf-icon-select .button.csf-icon-remove{
  margin-top: 5px;
}
#product_side_meta.postbox div.csf-sections{
  border: 0;
}
.leaflet-container .leaflet-marker-pane img{
  height: auto !important;
  width: auto !important;
  max-width: 50px !important;
}
.csf-options.prk_story_theme_style .csf-header-left p{
 display: none !important;
}
.menu-icon-product-feed .wp-submenu li:nth-last-child(1),.menu-icon-product-better .wp-submenu li:nth-last-child(1){
  display: none !important;
}
.post-type-product-feed .page-title-action,.post-type-product-feed .postbox-header,.post-type-product-feed #misc-publishing-actions,.post-type-product-feed #minor-publishing-actions{
  display: none !important;
}
.post-type-product-better .page-title-action,.post-type-product-better .postbox-header,.post-type-product-better #misc-publishing-actions,.post-type-product-better #minor-publishing-actions{
  display: none !important;
}
.post-type-product-feed #publishing-action,.post-type-product-better #publishing-action{
  display: block !important;
  width: 100% !important;
}
.post-type-product-feed #publishing-action input.button,.post-type-product-better #publishing-action input.button{
  display: block !important;
  width: 100% !important;
  padding: 6px;
  background: #ef4556;
  border: 0;
}
.panel_not_active{
  margin: 1rem;
  color: #f72d2d;
}
.panel_not_active p{
  font-size: 14px;
  font-weight: 600;
}
.prk_theme_style .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear{
  float: right !important;
}
/* .prk_theme_style .csf-wrapper{
  display: inline-block;
  width: 100%;
}
.prk_theme_style .csf-nav-normal,.prk_theme_style .csf-content{
  position: sticky;
  margin: 0 !important;
}
.prk_theme_style .csf-content{
  width: 79% !important;
  margin: 0 !important;
  float: left;
} */
.thwvsf-free-banner.notice.notice-success.is-dismissible{
  display: none !important;
}
.settings-heading.th-swatches{
  display: none !important;
}

.thwvs-design-templates .th-template-description{
  display: none !important;
}
.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper{
  padding-top: 40px !important;
}
.thwvsadmin-popup .pp-content aside{
  left: 0;
}
.thwvs_swatches_settings_tab.variations_tab{
 display: none !important;
}

.column-order_factor{
  width: 162px;
}
.give_factor_order{
  color: #2e7d32;
  border: 1px solid #2e7d32;
  background-color: #d4edda;
  border-color: #2e7d32;
  padding: 1px;
  text-align: center;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 27px;
  width: 157px;
  margin-bottom: 9px;
}
.column-order_factor i.icon{
  font-size: 14px;
  position: relative;
  top: 3px;
  margin-left: 3px;
}
.give_factor_order.dont_want{
  border: 1px solid #7b2830 !important;
  color: #d32f2f !important;
  background-color: #f8d7da !important;
  border-color: #d32f2f !important;
}

.give_factor_order i{
  margin-left: 5px;
}
body td.order_factor.column-order_factor{
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.button.tips.factor-link{
  text-align: center;
  width: 47%;
  line-height: unset !important;
  margin: 0 3px;
}
.order_factor.column-order_factor .give_factor{
  font-size: 12px;
  font-weight: 600;
  color: #4caf50;
}
.order_factor.column-order_factor .give_factor.dont_want{
  color: #ff7979;
}
.button.tips.factor-link.factor{
  margin-left: 9px
}
/* استایل بخش تنظیمات ارسال سفارش */
.csf-section.send_days{
  display: flex;
  align-items: center;
}
.csf-section.send_days .csf-field-heading{
  font-size: 14px;
  width: 22%;
}
.csf-section.send_days .csf-field{
  padding: 15px;
}
.csf-section.send_days .csf-field .csf-title{
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.order_send_header .csf-field-heading{
  font-size: 1.3em;
}
.order_send_header .csf-field {
  position: relative;
  padding: 20px !important;
}
#prk-send-box span{
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 13px;
}
#prk-send-box span i{
  margin-left: 5px;
}
.flexd-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.give_factor_single .give_factor{
  color: #2e7d32;
  border: 1px solid #2e7d32;
  background-color: #d4edda;
  border-color: #2e7d32;
  padding: 6px;
  text-align: center;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  justify-content: center;
}
.give_factor_single .give_factor.dont_want{
  border: 1px solid #7b2830 !important;
  color: #d32f2f !important;
  background-color: #f8d7da !important;
  border-color: #d32f2f !important;
}
.give_factor_single .give_factor i{
  margin-left: 10px;
}
.button.factor-link.single{
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button.factor-link.single i{
  position: relative;
  font-size: 14px;
  padding-left: 5px;
}

.redux-continy{
  width: 100%;
  display: inline-block;
}

.prk_theme_style .redux-container{
  width: 98% !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
  border-radius: 4px !important;
  padding: 0 !important
}
.prk_theme_style .redux-sidebar .redux-group-tab-link-a span.group_title{
  padding-right: 45px !important;
  padding-left: 15px !important;
}
.prk_theme_style .redux-sidebar .redux-group-tab-link-a i{
  font-size: 1.60em !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.prk_theme_style .redux-sidebar .redux-group-menu li.active a, .redux-sidebar .redux-group-menu li.active a:hover, .redux-sidebar .redux-group-menu li.activeChild a, .redux-sidebar .redux-group-menu li.activeChild a:hover{
  width: 100% !important;
}



#my_customs_product_data .form-field textarea{
 width: 50%;
}
#my_customs_product_data .form-field textarea.product_hamta_text{
  min-height: 113px;
}
.redux-action_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}



.redux-container {
    background-image: none;
    background-color: #2a2e31
}

.redux-container #redux-header {
    background: #242527 !important;
    border: 0px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 15px;
    position: relative;
    padding: 10px 15px
}
.redux-container #redux-header::before{
  content: '';
  background: url(../img/logo-opt-admin.png) no-repeat top;
  position: absolute;
  left: -8px;
  width: 100px;
  height: 100px;
  background-size: contain;
  opacity: 0.03;
  transform: scale(3);
  top: 26px;
}
.redux-container #redux-header .display_header {
  margin: 20px 0 0;
  padding: 0
}
.redux-container #redux-header p{
  color: #fff;
  opacity: 0.4;
}
.redux-container #redux-header .display_header h2 {
    position: relative;
    z-index: 2;
    margin: 0;
    font-size: 30px;
    line-height: 1;
    padding-right: 0;
}

.redux-container #redux-header .display_header span {
    color: white
}

.redux-container #redux-header .display_header .redux-dev-mode-notice-container {
    left: auto;
    right: 26px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}

.redux-container #redux-header .display_header .redux-dev-mode-notice-container .redux-dev-mode-notice {
    border-radius: 0
}

.redux-container .rAds {
    opacity: 0
}

.redux-container .rAds a,
.redux-container .rAds img {
    display: none
}

.redux-container .button {
    margin-top: 0
}

.redux-container .redux-action_bar .spinner {
    margin-top: 6px
}

.redux-container .redux-action_bar .button {
    line-height: 1
}

.redux-container #redux-sticky #info_bar {
  height: 48px;
  border: 0 !important;
  background: unset !important;
}
.redux-container #redux-footer{
  padding: 15px 10px !important
}
.redux-container #info_bar {
    padding: 9px 10px 3px 6px
}

.redux-container .redux-sidebar {
    width: 260px !important
}

.redux-group-tab-link-li.active i{
    color: #fff !important;
}
.redux-group-tab-link-li.activeChild i{
    color: #fff !important;
}
.redux-container .redux-sidebar .redux-group-menu li a {
    padding: 16px 4px 16px 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(255, 255, 255, 0.05);
    opacity: 1;
    line-height: 28px;
    font-size: .900rem;
}
.redux-container .redux-sidebar .redux-group-menu li.active a{
  font-weight: 500 !important;
}
.redux-container .redux-sidebar .redux-group-menu li.activeChild a{
  font-weight: 500 !important;
}
.redux-container .redux-sidebar .redux-group-menu li a:hover {
    background: #2a2e31;
    color: #fea000
}

.redux-container .redux-sidebar .redux-group-menu li.active>a,
.redux-container .redux-sidebar .redux-group-menu li.active>a:hover,
.redux-container .redux-sidebar .redux-group-menu li.activeChild>a,
.redux-container .redux-sidebar .redux-group-menu li.activeChild>a:hover {
    width: auto;
    background-color: #f9981c !important;
    color: #fea000
}
.redux-container .redux-sidebar .redux-group-menu li a:hover{
    background-color: #f9981c !important;
}
.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a{
    background-color: #f9981c !important;
}
.redux-container .redux-sidebar .redux-group-menu li .subsection .redux-group-tab-link-li .redux-group-tab-link-a:hover{
  color: #f9981c !important;
}
.redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections a {
    background: #fea000
}

.redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a {
    background: rgba(255, 255, 255, 0.05)
}

.redux-container .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover {
    color: white
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-shadow: none
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover {
    background: rgba(255, 255, 255, 0.05);
    color: #fff
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    background: #fea000;
    color: #fff;
    text-shadow: none
}

.redux-container .redux-main {
    margin-right: 260px !important;
    border-left: 0;
    margin-left: -1px !important;
}

.redux-container .redux-main .input-append .add-on {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.redux-container .redux-main .redux-container-typography .select2-container {
    min-width: auto!important
}

.redux-container .redux-main .redux-container-typography .input_wrapper input.mini {
    border-radius: 0
}

.redux-container .switch-options .cb-disable,
.redux-container .switch-options .cb-enable {
    border-radius: 0px
}

.redux-container .wp-color-result {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.redux-container .wp-color-result:after {
    border-radius: 0;
    font-size: 12px;
    padding: 1px 6px
}

.redux-container .redux-main .color-transparency-check {
    margin-top: -20px!important;
    padding-top: 0
}

.redux-container .redux-container-editor .wp-editor-container {
    border-radius: 0
}

.redux-container .redux-container-editor .add_media {
    padding-top: 5px;
    padding-bottom: 5px
}

.redux-container .redux-container-switch .cb-enable.selected,
.redux-container .redux-field-container .ui-buttonset .ui-state-active {
    background-color: #fea000!important;
    border-color: #fea000!important;
    background-image: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.redux-container .redux-container-switch .cb-disable.selected {
    background-image: none!important;
    background-color: #2a2e31!important
}

.redux-container .select2-container .select2-choice {
    border-radius: 0
}

.redux-container .select2-container .select2-choice .select2-arrow b:after {
    margin-left: -5px
}

.redux-container .redux-container-image_select .redux-image-select-selected img {
    border-color: #fea000
}

.redux-container .redux-container-button_set .ui-button {
    border-radius: 0
}

.redux-container .noUi-connect {
    background-image: none!important;
    background-color: #fea000!important
}

.redux-container #redux-footer .button:not(.button-primary) {
    margin-left: 4px
}

.redux-container .redux-container-sorter ul li {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}

.redux-actions .button,
.redux-container .button,
.redux-container .button-primary,
.redux-container .button-secondary {
    border-radius: 0px;
    font-size: 12px;
    line-height: 1;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    padding: 10px 15px;
    text-transform: uppercase;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: all .2s ease
}

.redux-actions .button:active,
.redux-actions .button:focus,
.redux-actions .button:hover,
.redux-container .button-primary:active,
.redux-container .button-primary:focus,
.redux-container .button-primary:hover,
.redux-container .button-secondary:active,
.redux-container .button-secondary:focus,
.redux-container .button-secondary:hover,
.redux-container .button:active,
.redux-container .button:focus,
.redux-container .button:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.redux-actions .button:active,
.redux-container .button-primary:active,
.redux-container .button-secondary:active,
.redux-container .button:active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.redux-actions .button.button-primary,
.redux-container .button-primary {
    border-color: #fea000;
    background-color: #fea000;
    color: white
}

.redux-actions .button.button-primary:active,
.redux-actions .button.button-primary:focus,
.redux-actions .button.button-primary:hover,
.redux-container .button-primary:active,
.redux-container .button-primary:focus,
.redux-container .button-primary:hover {
    border-color: #fea000;
    background-color: #fea000
}

.redux-actions [disabled].button.button-primary,
.redux-container [disabled].button-primary {
    border-color: #fea000!important;
    background-color: #fea000!important;
    color: white!important;
    opacity: .5
}

.ui-spinner-button {
    right: auto !important;
	left:0 !important;
}
.msp-ddlist:after {
    left: 10px;
	right: auto !important;
}
.spacing-units .select2-container.redux-spacing {
    min-width: 20px!important;
}

.redux-container-spacing .select_wrapper, .redux-container-spacing select {
    width: 80px!important;
    float: none !important;
}





#redux-header .display_header{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    flex-direction: row;
}
#redux-header .display_header span{
    background: #fea000;
    padding: 2px 8px;
    border-radius: 5px;
    margin-right: 8px;
    color: #000 !important;
}

.redux-field-container.redux-field.hide{
  display: block !important;
}
.sticky-footer-fixed{
  width: 100% !important;
  right: -33px !important;
  background: rgb(238, 238, 238);
  left: 0px;
  padding: 15px 0px !important;
}
.sticky-footer-fixed .redux-action_bar{
  width: 30%;
}
.prk_theme_style .csf-nav-normal,.prk_theme_style .csf-nav-background{
  width: 290px;
  background: #fff;
  border-left: 1px solid #ededed;
}
.prk_theme_style .csf-content{
  margin-right: 310px;
  margin-left: 0;
  padding-top: 15px;
  padding-left: 15px;
}
.prk_theme_style .csf-tab-item.csf-tab-expanded a.csf-arrow:first-child{
  background: #eff6ff;
  color: #2563eb !important;
  font-weight: 600;
  transition: all .3s ease-in-out;
  border-radius: 4px;
}
.prk_theme_style .csf-nav ul ul li a{
  background: #fff;
  line-height: 20px !important;
  color: #2563eb !important;
}
.prk_theme_style .csf-nav ul li.csf-tab-expanded ul{
  border: 1px solid #f1f5f9;
  margin: 10px;
  border-radius: 4px;
  padding: 5px 0px;
}
.prk_theme_style .csf-buttons .csf-save{
  background-color: #0f172a !important;
  border-color: #0f172a !important;
  color: #fff;
  border-radius: 5px !important;
  padding: 10px !important;
  height: 43px;
  width: 150px;
}
.prk_theme_style .csf-form-warning,.csf-form-success{
  height: 43px;
  line-height: 45px;
  border-radius: 5px;
}
body .prk_theme_style .csf-buttons input.csf-reset-all{
  background-color: #ff001670 !important;
  border-color: #ff001600 !important;
  color: #fff;
  border-radius: 5px !important;
  padding: 10px !important;
  height: 43px;
  width: 90px;
  line-height: 10px;
}
.prk_theme_style .csf-expand-all{
   display: none;
}

.prk_theme_style.csf-theme-dark .csf-search input{
  background-color: #f7f7f7 !important;
  border-color: #0f172a !important;
  color: #767676;
  border-radius: 5px !important;
  padding: 10px !important;
  height: 46px;
  width: 200px;
}
.prk_theme_style .csf-nav ul li.csf-tab-item.csf-tab-expanded .csf-active{
  background: #eff6ff;
  color: #2563eb !important;
  font-weight: 600;
  transition: all .3s ease-in-out;
  border-radius: 4px;
}
.prk_theme_style .csf-nav ul li a:hover{
  background: #eff6ff;
  color: #2563eb !important;
  transition: all .3s ease-in-out;
  border-radius: 4px;  
}
.prk_theme_style .csf-tab-item.csf-tab-expanded ul li .csf-active{
   background: #282929 ;
   font-weight: 600;
}

.prk_theme_style .csf-nav ul li a{
  line-height: 32px;
  color: #475569 !important;
  display: flex;
  align-items: center;
  margin: 7px 10px;
  padding: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.csf-options.prk_theme_style{
  margin-left: 20px;
    margin-right: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.15), 0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 11px;
    overflow: hidden;
}
.prk_theme_style .csf-nav ul li a i.csf-tab-icon{
  font-size: 1.4em !important;
  padding-left: 8px !important;
  margin: 0;
  font-weight: 500;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
}
.prk_theme_style .csf-nav ul li.csf-tab-expanded a i.csf-tab-icon{
  color: #2563eb;
}
.prk_theme_style .csf-field-image_select .csf--image{
  margin: 0px 5px 19px 0;
}
.prk_theme_style .csf-nav ul li.csf-tab-item.csf-tab-expanded .csf-active i, .prk_theme_style .csf-nav ul li a:hover i.csf-tab-icon{
  color: #2563eb !important;
}
.prk_theme_style .csf-nav ul li a i.csf-tab-icon.fas,
.prk_theme_style .csf-nav ul li a i.csf-tab-icon.far{
  font-size: 19px !important;
}
.prk_theme_style .csf-nav-background{
}
.prk_theme_style .csf-header-inner{
  padding: 15px;
}
.prk_theme_style .csf-header-left{
  display: flex;
  align-items: center;
  gap: 12px;
}
.prk-sidebar-logo img{
  width: 40px;
  height: 40px;
}
.title-setting-opt{
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  gap: 5px;
}
.title-setting-opt .prk-version{
  background: #f1f5f9;
  border-radius: 10px;
  color: #94a3b8;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 0 8px;
}

.prk_theme_style .csf-header-inner .csf-header-left .title-setting-opt  a{
  display: inline-block;
  width: unset;
  text-decoration: none;
  color: #475569;
  font-size: 18px;
  font-weight: 700;
}
.prk_theme_style .csf-header-inner .csf-header-left p{
  margin: 1px 0 0;
  background: #45dfa714;
  border-radius: 7px;
  color: #23c39f;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 10px;
  padding: 0 8px;
}
.prk_theme_style .csf-header-inner .title-setting-opt a{
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  gap: 5px;
  justify-content: start;
}
.prk_theme_style .csf-sections{
  border: 0;
}
.prk_theme_style .csf-nav ul li .csf-arrow:after{
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.prk_theme_style .csf-nav ul li .csf-arrow:after{
 content: "\ea64" !important;
}
.prk_theme_style .csf-header-inner{
  border-bottom: 1px solid #ededed;
}
.prk_theme_style .csf-field-heading{
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.prk_theme_style .csf-sticky .csf-header-inner{
  box-shadow: 0 0px 23px rgba(0,0,0,.1);
}
.prk_theme_style .csf-header-inner,.prk_theme_style .csf-footer{
  background-color: #fff;
}
.prk_theme_style .csf-footer{
  border-top: 1px solid #f1f5f9;
}
.prk_theme_style .button.csf-warning-primary,.prk_theme_style .button-primary{
  border-radius: 0 !important;
  padding: 0px 20px !important;
  border-color: #ff750d !important;
  background: #ff750d!important;
}
.prk_theme_style .csf-field-media .csf--placeholder input,.prk_theme_style .csf-field-typography .csf--input,.prk_theme_style .csf-field-border .csf--input input,.prk_theme_style .csf-field-dimensions .csf--input input,.prk_theme_style .csf-field-spacing .csf--input input,.prk_theme_style .csf-field-border .csf--unit,.prk_theme_style .csf-field-dimensions .csf--unit,.prk_theme_style .csf-field-spacing .csf--unit,.prk_theme_style .csf-field-border .csf--icon,.prk_theme_style .csf-field-dimensions .csf--icon,.prk_theme_style .csf-field-spacing .csf--icon,.prk_theme_style select,.prk_theme_style .chosen-container-single .chosen-single,.prk_theme_style .csf-field-switcher .csf--switcher,.prk_theme_style .wp-picker-container .wp-color-result.button,.prk_theme_style .csf-field-text input
{
 border-radius: 0 !important;
}
.csf-field-image_select .csf--active figure{
  border-color: #f9981c;
  box-shadow: 0 0 20px rgba(249, 152, 28, 0.21);
}
.csf-field-image_select figure::before{
  background-color: #f9981c;
}
.prk_theme_style .csf-field .csf-title{
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #f1f5f9;
  font-size: 13px;
  font-weight: 700;
}
.prk_theme_style .csf-nav ul li .csf-arrow::after {
  font-weight: normal;
  font-size: 14px;
}
.prk_theme_style .csf-field{
  padding: 20px;
}
.prk_theme_style .csf-field+.csf-field{
  border-top: 0;
}
/* style field for menu options */

body .csf-nav-menu-options .csf-field .csf-title{
  padding: 0;
  border: 0;
  font-style: italic;
  font-weight: normal;
}
body .csf-nav-menu-options .csf-field .csf-fieldset{
  margin-top: 3px;
}
body .csf-nav-menu-options>.csf-fields{
  margin: 5px 0 5px 0;
}
body .csf-depend-hidden.csf-depend-on{
  display: none !important;
}
.prk_diactive_License{
  position: relative;
  max-width: 1620px;
  margin: 0 auto;
  border-radius: 6px;
}
.prk_diactive_License.diactive_theme{
  cursor: not-allowed;
  max-height: 590px;
  overflow: hidden;
  margin-top: 100px;
}
.prk_diactive_License_text{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0c0c0cdb;
  text-align: center;
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
}
.prk_diactive_License_text p{
  position: relative;
  top: 47%;
  font-size: 19px;
  color: #fff;
  border: 1px solid #ededed26;
  display: inline-block;
  padding: 0 15px;
  border-radius: 0 17px 17px 0;
  font-weight: 400;
  height: 52px;
  display: inline-flex;
  align-items: center;
}
.prk_diactive_License_text a{
  position: relative;
  top: 47%;
  height: 54px;
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  background: #20b560;
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  border-radius: 17px 0 0 17px;
  outline: none !important;
  font-weight: 500;

}



.prk_diactive_License{
  position: relative;
  max-width: 1620px;
  margin: 0 auto;
  border-radius: 6px;
}
.prk_diactive_License.diactive_theme{
  cursor: not-allowed;
  max-height: 590px;
  overflow: hidden;
  margin-top: 100px;
}
.prk_diactive_License_text{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0c0c0cdb;
  text-align: center;
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
}
.prk_diactive_License_text p{
  position: relative;
  top: 47%;
  font-size: 19px;
  color: #fff;
  border: 1px solid #ededed26;
  display: inline-block;
  padding: 0 15px;
  border-radius: 0 17px 17px 0;
  font-weight: 400;
  height: 52px;
  display: inline-flex;
  align-items: center;
}
.prk_diactive_License_text a{
  position: relative;
  top: 47%;
  height: 54px;
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  background: #20b560;
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  border-radius: 17px 0 0 17px;
  outline: none !important;
  font-weight: 500;

}


div.License-gurd{
  width: 32%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 30px auto;
  background: #fff;
  padding: 40px;
}
div.License-gurd h2{
  font-size: 30px !important;
    font-weight: 600  !important;
    display: flex;
    align-items: center;
    gap: 20px;
}
div.License-gurd h2 i{
  font-size: 34px;
  position: relative;
  top: -7px;
}
div.License-gurd p.License-gurd-text{
  font-size: 14px;
  font-weight: 500;
  color: #636363;
  margin-bottom: 0;
  margin-top: 45px;
  padding-bottom: 10px;
}
div.License-gurd .form-table-gurd {
  width: 100%;
}
.form-table-gurd p.submit input[type="submit"]{
  font-size: 13px;
  padding: 2px 12px;
}
div.License-gurd .form-table-gurd tr{
  display: flex;
    align-items: center;
    width: 100%;
}
div.License-gurd .form-table-gurd tr td{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 0;
}
div.License-gurd #sample_license_key{
  width: 67%;
  padding: 2px 10px;
}
div.License-gurd  p.submit{
  margin: 0;
  padding: 0;
}
div.License-gurd input#activate_license{
  width: 110px;
}
div.License-gurd p.get-license{

}
div.License-gurd p.get-license a{
  margin-bottom: 20px;
  font-size: 12px;
}
div.License-gurd .not-success{
  margin-top: 20px;
  background-color: #ba2a2a35;
  color: #ba2a3e;
  padding: 6px 10px;
  border-radius: 4px;
}
div.License-gurd .success {
  margin-top: 20px;
  padding: 6px 10px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border: 1px solid transparent;
  border-radius: .25rem;
}

div.License-gurd .success-warning {
  margin-top: 20px;
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}


/* style for MWP version */

.toplevel_page_prk-theme ul.wp-submenu{
  display: flex;
  flex-direction: column;
}

.toplevel_page_prk-theme ul.wp-submenu li:nth-child(3){
  order: 5;
}
.toplevel_page_prk-theme ul.wp-submenu li:nth-child(4){
  order: 4;
}
.toplevel_page_prk-theme ul.wp-submenu li:nth-child(5){
  order: 1;
}
.toplevel_page_prk-theme ul.wp-submenu li:nth-child(6){
  order: 2;
}
.toplevel_page_prk-theme ul.wp-submenu li:nth-child(7){
  order: 3;
}