.citycategorychoosemodal .searchpartdiv input{
	box-shadow: none;
border: 1.2px solid #ccc;
text-align: right;
position: absolute;
left: 0;
padding-right: 2em !important;
height: 3em !important;
width: 100%;
border-radius: 5px;
font-size: 12px;
}
