
/* prk mobile header */
.mobile-header{
  width: calc(100% - 30px);
  position: relative;
  top: 15px;
  left: 15px;
  right: 15px;
  border-radius: 16px;
  transition-duration: .3s;
  transform: translateZ(1px);
  box-shadow: 5px 2px 31px rgb(0 0 0 / 17%);
  background-color: #fff;
  opacity: 1;
  z-index: 99999;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
}
.mobile-header .panel-handelr{
  width: 10%;
}
body .dn-app-mobile{
  height: 55px;
  z-index: 99999;
  bottom: 85px;
  left: 16px;
  right: 16px;
  width: auto;
  border-radius: 14px;
}

body .supp .support-tab{
  bottom: 90px;
  left: 14px;
}
body.product-single .call_box .call_button{
  bottom: 130px !important;
}
.right-header-box{
  padding: 0;
  z-index: 999999;
  position: fixed;
  right: 15px;
  top: 10px;
  display: flex;
  gap: 10px;
}
.right-header-box .backer-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 40px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 3px 2px 31px rgba(0,0,0,.17);
}
.right-header-box .backer-button i{
  font-size: 24px;
  color: #162C5B;
  position: relative;
}
body div.prk-mobile-location div.location-piker_mob i.ri-arrow-left-s-line{
  color: #545d6e !important;
}
body div.prk-mobile-location div.location-piker_mob{
  width: 91%;
  margin: 0 auto;
  margin-top: 26px;
}
body .mobile-navigation-fixed div.prk-mobile-location div.location-piker_mob{
  margin-top: 80px;
}
ul.product-tooltips {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 15px;
  top: 10px;
  border: 1px solid #ededed;
  background-color: #fff;
  border-radius: 10px;
  z-index: 999999;
  box-shadow: 3px 2px 31px rgba(0,0,0,.17);
}
.product-tooltips li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 30px;
  height: 40px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.product-tooltips li.more-tooltip{
  transform: rotate(90deg);
}
.product-tooltips li i{
  font-size: 24px;
  color: #162C5B;
  position: relative;
  top: 2px;
}
.header.mobile.modern{
  margin-bottom: 37px;
}
.header.mobile.mobile-navigation-fixed{
  margin-bottom: 85px;
}

.header.mobile.mobile-navigation-fixed.have_location{
  margin-bottom: 10px;
}
.product-single .header.mobile.mobile-navigation-fixed{
  margin-bottom: 45px;
}
.product-single .woocommerce-product-gallery .head-pros{
  margin-top: 10px;
  padding: 10px;
}
/* prk mobile menu */
.modal-menu.modern{
  box-shadow: rgb(0 0 0 / 18%) 4px 0px 15px;
  transition: all .3s;
}
body .modal-menu.modern-menu .off-canvas-main .menu li > a i, body .modal-menu.modern-menu .off-canvas-main .menu li > a img{
  font-size: 24px;
  color: #162C5B;
  max-width: 24px;
  width: 24px;
  font-weight: 500;
  margin-left: 12px;
}
body header.modern .modal-menu .off-canvas-main .menu li > a{
  color: #162C5B;
  font-weight: 500;
  font-size: 14px;
}
header.modern .modal-menu,body header.modern .modal-menu .off-canvas-main .menu ul{
  top: 90px;
  bottom: 90px;
  height: auto;
  border-radius: 16px;
}
header.modern.topbar_true .modal-menu, body header.modern.topbar_true .modal-menu .off-canvas-main .menu ul{
  top: 145px;
}
header.modern .modal-menu.toggle,body header.modern .modal-menu .menu ul.toggle{
  right: 16px;
}
header.modern .modal-menu .off-canvas-main .menu li > a{
  margin-right: 15px;
}
header.modern .modal-menu .off-canvas-main .menu > li:first-child{
  padding-top: 15px;
}
body .modal-menu .off-canvas-main .menu li > a i, body .modal-menu .off-canvas-main .menu li > a img{
  width: 24px;
  max-width: 24px;
  font-size: 24px;
  margin-left: 9px;
  color: #162C5B;
}
header.modern .modal-menu .logo-mobile{
  display: none;
}
header.mobile-navigation-fixed .mobile-header{
  position:fixed;
}
body.product-shop .header.mobile-navigation-fixed .mobile-header{
  position: absolute;
}
.mobile-header #icon-menu svg path{
  fill: #162C5B!important;
}
.mobile-header .call-page i {
  color: #162C5B;
}
.mobile-img-logo img{
  display: block;
  width: 100%;
  max-height: 36px;
  object-fit: contain;
}

/* prk socials box */
.socials-box{
  position: fixed;
  left: 16px;
  bottom: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  width: 55px;
  margin: 0;
  padding: 5px 0;
  background-color: #ffffff;
  transform: translate(200px) translateZ(1px);
  transition-duration: .3s;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  width: 50px;
  z-index: 999999;
}
.socials-box.active{
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.socials-box li{
  margin: 8px 0;
  opacity: 1;
  transition: .2s;
}
.socials-box li:hover{
  opacity: .7;
  transition: .2s;
}
.socials-box li i{
  font-size: 21px;
  color: #162C5B;
}
/* mobile navbar menu */
.mobile-navbar-menu.havsecond.active nav{
  opacity: 0;
  transform: rotateX(90deg);
}
.mobile-bottom-navabr{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  transform-origin: 0 0;
  background-color: #ffff;
  border-radius: 15px;
  transition-duration: .6s;
  border: 1px solid #F2F6FF;
  box-shadow: 5px 2px 31px rgb(0 0 0 / 17%);
  overflow: hidden;
}
.mobile-bottom-navabr.blur_back{
  background-color: rgba(255, 255, 255, .7);
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  border: unset;
}
.mobile-navbar-menu{
  height: 60px;
  width: auto;
  transition: all .4s ease-out;
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  box-shadow: none;
  z-index: 99999;
}
.mobile-navbar-menu.noindex{
  z-index: -100;
}
.mobile-navbar-menu .mobile-bottom-navitem{
  border-radius: 100%;
  width: 53px;
}
.mobile-navbar-menu .mobile-bottom-navitem a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-bottom-navitem i{
  font-size: 24px;
  color: #162C5B;
  position: relative;
}
.mobile-bottom-navabr.blur_back .mobile-bottom-navitem i{
  color: #333;
}
.mobile-navbar-menu .mobile-bottom-navitem i span.cart-count{
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: -2px;
  right: -2px;
}
.mobile-navbar-menu .mobile-bottom-navitem i span.cart-count.pluser{
  background: #f30b4a;
}
.mobile-navbar-menu .mobile-bottom-navitem i span.bold-check{
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  top: 6px;
  right: -1px;
  background: #ff6a00;
  font-size: 8px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.mobile-navbar-menu .mobile-bottom-navitem i span.bold-check::before{
  position: relative;
  top: 2px;
}
.mobile-bottom-navitem span{
  font-size: 8px;
  font-weight: 700;
  color: #666666;
  margin-top: 7px;
}
.mobile-bottom-navabr.blur_back .mobile-bottom-navitem span{
  color: #333;
}
/* mobile navbar second menu */
.mobile-navbar-menu nav.second{
  transform: rotateX(-90deg);
  opacity: 0;
}
.mobile-navbar-menu nav.inproduct{
  transform: rotateX(-90deg) translateY(50px);
  transform: rotateX(-90deg);
}
.show-navbar{
  position: fixed;
  transform: translateZ(1px);
  text-align: center;
  bottom: 95px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 5px 2px 31px rgb(0 0 0 / 13%) !important;
  border-radius: 0 25px 25px 0;
  width: 40px;
  height: 40px;
  z-index: 999;
}
.show-navbar i{
  font-size: 23px;
  position: relative;
  top: 10px;
  right: -3px;
}
.mobile-navbar-menu.active nav.second{
  opacity: 1;
  box-shadow: unset;
  transform: rotateX(0) translateY(-65px) translateZ(1px);
}
.mobile-navbar-menu nav.inproduct.active{
  opacity: 1;
  box-shadow: unset;
  transform: rotateX(0) translateZ(1px);
}
.button-native-navabr a{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f30a4926;
  height: 36px;
  border-radius: 11px;
  color: #f30a49;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 13px;
}
.button-native-navabr i{
  font-size: 24px;
  margin-right: 5px;
}


/* restyle mobile product page */

body.product-single .woocommerce div.product div.col-single1 div.woocommerce-product-gallery{
  border: unset !important;
  margin: auto !important;
  margin-bottom: 5px !important;
  padding: 0 8px !important;
}
body.product-single .product-more-icon-dates.active{
  bottom: 0;
}
body.product-single .product-more-icon-dates{
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #fff;
  height: auto;
  padding: 4px 20px;
  z-index: 999999999;
  transition-duration: .3s;
}

/* more variations */

body.product-single .product-more-variations.active{
  bottom: 0;
}
body.product-single .product-more-variations{
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #fff;
  height: auto;
  padding: 4px 20px;
  z-index: 999999999;
  transition-duration: .3s;
}
body .thwvsf_fields{
  display: grid;
}
body td.value:not(td.value.more) .thwvsf-wrapper-ul{
  display: inline-flex;
  overflow-y: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  will-change: transform;
  width: max-content;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: 100%;
  flex-wrap: unset;
}
body.product-single .product-more-icon-dates a {
  color: #42484F;
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}
body.product-single .product-more-icon-dates li:last-child a{
  border: 0;
}
body.product-single .product-more-icon-dates a i{
  font-size: 22px;
  margin-left: 15px;
  color: #4b4f58;
  width: 22px;
}
body.product-single .product-more-icon-dates a span{
  font-size: 14px;
  color: #4b4f58;
  font-weight: 600;
}
.navigation-overlay.zindex-top{
  z-index: 9999999;
}

body .remodal-wrapper .remodal{
  border-radius: 16px;
}
body .back_holder{
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 16px;
  border: 1px solid #eee;
  box-shadow: 5px 2px 31px rgb(0 0 0 / 17%) !important;
  z-index: 9999;
}
body.product-single .woocommerce div.product form.cart .button.single_add_to_cart_button{
  font-size: 11px !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
}
body.product-single .back_holder{
  right: 15px;
  left: 15px;
  bottom: 15px;
  padding: 9px !important;
  transform-origin: 0 0;
  background-color: #ffff;
  transition-duration: .6s;
  border-radius: 15px;
  box-shadow: 5px 2px 31px rgba(0,0,0,.17)!important;
  background-color: #fff;
  z-index: 9999;
  border: 0;
}
body.product-single .back_holder.blur_back{
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  background-color: rgba(255,255,255,.5);
}
body.product-single .back_holder.active{
  opacity: 0;
  transform: rotateX(90deg);
}
body.product-single .des-left .woocommerce-variation-add-to-cart{
  width: 60% !important;
}
body.product-single .cart-pro del span bdi,
body.product-single .cart-pro del span bdi span{
  font-size: 11px;
}
body.product-single cart-pro span.index-discount-pro{
  font-size: 12px !important;
}
body.product-single .cart-pro bdi{
  font-size: 14px;
}
body.product-single .head-pros span.prs{
  font-size: 14px !important;
}
body.product-single .woocommerce div.product div.summary,body.product-single .tabs-panel-mobile{
  border-radius: 14px;
  background-color: #fff;
  padding: 15px 20px;
  border: 1px solid #e4e4e4;
  width: 100% !important;
}
body .carousel_lister .off-product{
  border-radius: 14px;
  width: 165px;
}
body .promotion-categories .categorys_item article,
body .carousel_lister .item-pro,
body.product-single .product-tab-nav-mobiles ul li.nav-item_mobile,
body.product-single .carousel_lister .item-pro{
  border-radius: 14px;
}
body.product-single .woocommerce-breadcrumb{
  margin-top: 10px !important
}

.form_search.mobile{
  border: 0;
  padding: 8px 11px;
  color: #636468;
  background: #f6f6f6;
  border-radius: 11px;
}
.form_search.mobile input{
  border: 0;
  padding: 6px 14px;
  color: #636468;
  background: #f5f5f5;
  border-radius: 11px;
}
body .product_seached {
  padding: 5px;
  background: #fff;
}
.article-searched-slider{
  background: #fff;
}
.form_search.mobile span#submited_search{
  font-size: 23px;
  position: relative;
  /* top: 5px; */
}
body .prk_close_search_result{
  left: 20px;
  top: -43px;
  font-size: 26px;
  color: #a5a5a5;
}
.form_search.mobile .prk_input_serach::placeholder {
	color: #030303;
	opacity: 1;
  font-size: 14px;
  font-weight: 600;
}
.prk_search_alert{
  right: 0;
  left: 0;
  opacity: .5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 15vh;
}
.prk_search_alert i{
  color: #162C5B;
  font-size: 120px;
}
.prk_search_alert p{
  color: #162C5B;
  font-size: 16px;
  font-weight: 600;
  padding-top: 28px;
}
.form_search.mobile .product_seached .thumb-off{
  max-width: 120px !important;
  margin: 0 !important;
}
body .swal2-container {
  padding: 16px !important;
}
body .swal2-popup{
  border-radius: 11px;
  padding: 16px 4px;
}
body .swal2-styled{
  padding: 0.525em 1em !important;
  box-shadow: none;
  font-weight: 500;
  font-size: 14px !important;
  font-weight: 600;
  border-radius: 8px !important;
}
.swal2-modal.go-cart-popup h2#swal2-title{
  font-size: 14px!important;
  padding: 1.7em 0em 0 !important;
  font-weight: 700 !important;
  color: #333;
}
.col-single1 .details_actions{
  display: none !important;
}
.fashion-style form.cart .button{
  transition-duration: .6s;
}
.fashion-style form.cart .button.active{
  opacity: 0;
  transform: rotateX(90deg);
}
/* product page style */
.product-seller-info .product-seller-row{
  padding: 10px 0;
}
.product-seller-info .product-seller-row .product-seller-row-icon {
  width: 35px;
}
.product-seller-info .product-seller-row .product-seller-row-icon i {
  font-size: 20px;
}
.product-seller-info .product-seller-row .product-seller-row-detail .product-seller-row-detail-title{
  font-size: 13px;
}
body .full_whidth.ui-box{
  border: 1px solid #efefef !important;
  padding: 8px 5px !important;
  background: transparent !important;
}
.product-seller-info .product-seller-row.centes:last-child{
  padding-bottom: 0;
}
body .product-seller-info .product-seller-row .product-seller-row-detail ul li::after{
  right: -22px;
  bottom: 3px;
}
body .better-btn.show {
  font-size: 13px;
  justify-content: left;
  color: #81858A!important;
  font-weight: 500;
}
body .better-btn i{
  padding-right: 3px;
  font-size: 15px;
  position: relative;
  top: -2px;
  color: #81858A!important;
}

body .imgs-mobile .swiper-slide img {
  max-width: 230px;
}
body .footer-s .main-footer .continer .copy-right-foot.navier {
  padding-bottom: 80px;
}
body.product-single .footer-s .main-footer .continer .copy-right-foot.navier{
  padding-bottom: 20px;
}
body .swiper-responsive-product-slider{
  margin: 0;
}
.product-tooltips li.carter-mobiler i em{
  position: absolute;
  top: -4px;
  right: -6px;
  font-size: 12px;
  font-family: prk-font;
  line-height: 9px;
  min-width: 15px;
  min-height: 15px;
  padding: 3px;
  border-radius: 5px;
}
.remodal-wrapper .remodal .remodal-header .remodal-close{

}
.remodal-wrapper .remodal .remodal-header .remodal-close::before{
  font-family: 'parsfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e9c7";
  color: #5e5e5e;
  font-weight: 100;
}
body .payment_navigtions{
  border: 0;
  border-bottom: 1px solid #f8f8f8;
  border-radius: 0;
  margin: 0;
}
.payment_navigtions .checkout-headers ul{
  justify-content: space-between;
}
body .payment_navigtions .payment_logo{
  display: none;
}
body.cart_page .woocommerce .order_flexd{
  right: 15px;
  left: 15px;
  bottom: 15px;
  padding: 9px !important;
  transform-origin: 0 0;
  background-color: #ffff;
  transition-duration: .6s;
  border-radius: 15px;
  border: 1px solid #eee;
  box-shadow: 5px 2px 31px rgb(0 0 0 / 13%) !important;
  z-index: 99999999;
}
body.cart_page .woocommerce .order_flexd.blur_back{
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  background-color: rgba(255,255,255,.5);
  border: unset;
}
body.cart_page .woocommerce .cart_totals  .order_flexd tr th,body.cart_page .woocommerce .cart_totals  .order_flexd tr td{
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}
.woocommerce .collateral-order-user .table-shop-cart-user .tr-proceed-cart-user th a{
  font-size: 13px !important;
}
body.cart_page .prk_empty_cart .cart-empty{
  font-size: 16px !important;
  line-height: 28px;
  margin: 10px auto;
  text-align: center;
  color: #162C5B;
  font-weight: 600;
  padding-top: 15px;
}
body.cart_page .prk_empty_cart .page_shoper{
  display: none !important;
}
body .prk_empty_cart{
  display: flex;
  flex-direction: column;
}
body .prk_empty_cart .prk_empty_cart_detales{
  order: 2;
  width: 80%;
  margin: 2rem auto 0 auto;
  opacity: .5;
}
body .prk_empty_cart .prk-shoppingcart-next-contain-links{
  order: 1;
}
body .prk_empty_cart .return-to-shop{
  order: 3;
}
body .prk_empty_cart i.empty_cart{
  text-align: center;
  color: #162C5B;
  font-size: 120px;
}
body .onliner_main_loading .content_loading{
  width: 290px;
  max-width: 290px;
  margin: 0 auto;
  right: 16px;
  left: 16px;
  top: 40%;
}
.onliner_main_loading .content_loading .loader-wrapper img{
  width: 120px !important;
  height: auto !important;
  display: inline-block !important;
}
body.cart_page .woocommerce span.onsale{
  font-size: 14px !important;
}
body .col-banner .banners{
  margin: 3px 0;
}
body .col-banner .list4{
  width: calc(50% - 3px) !important;
}
body .col-single1{
  margin-bottom: 10px;
}
body .call_box.havetool .call_button {
  bottom: 90px;
}
body .adress-index i,.woocommerce-breadcrumb i{
  display: none;
}
.adress-index #breadcrumb span a,.continer .woocommerce-breadcrumb a{
  color: #7e7e7e;
  font-size: 13px;
  font-weight: 600;
}
.adress-index #breadcrumb span a::after,.continer .woocommerce-breadcrumb a::after{
  font-family: 'parsfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e930";
  position: relative;
  top: 3px;
  padding: 0 2px;
}
body div.call_box div.call_main{
  width: 90%;
}
/* story style mobile */
@media (max-width: 675px){

  /* body .prkstory-item-circles .prkstory-feed-item-ins {
      width: 80px !important;
  }
  body .prkstory-item-circles .prkstory-feed-item-ins .prkstory-circle-image, .prkstory-item-circles .prkstory-feed-item-ins .prkstory-feed-canvas {
      height: 80px !important;
      width: 80px !important;
  } */


}

/* responsive 990px */
@media (max-width: 990px){
  body div.continer {
    width: 93% !important;
  }
  body.product-single div.continer {
      width: 93% !important;
    }
}

body .ns-sale-notification.tip-right{
  right: 16px;
  left: 16px;
  bottom: 85px;
  width: unset;
}
.ns-sale-notification .noti-body{
  margin: 9px 0 9px 0;
}
.ns-sale-notification .product-image{
  width: 65px;
}