$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?6d4c1e576c902034fb3c11ba5e39811a") format("truetype"),
url("./flaticon.woff?6d4c1e576c902034fb3c11ba5e39811a") format("woff"),
url("./flaticon.woff2?6d4c1e576c902034fb3c11ba5e39811a") format("woff2"),
url("./flaticon.eot?6d4c1e576c902034fb3c11ba5e39811a#iefix") format("embedded-opentype"),
url("./flaticon.svg?6d4c1e576c902034fb3c11ba5e39811a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "user": "\f101",
    "user-1": "\f102",
    "user-2": "\f103",
    "user-3": "\f104",
    "user-4": "\f105",
    "user-5": "\f106",
    "profile-user": "\f107",
    "account": "\f108",
    "account-1": "\f109",
    "user-6": "\f10a",
    "account-2": "\f10b",
    "user-7": "\f10c",
    "user-8": "\f10d",
    "user-9": "\f10e",
    "user-10": "\f10f",
    "user-11": "\f110",
    "info": "\f111",
    "user-12": "\f112",
    "user-13": "\f113",
    "love": "\f114",
    "key": "\f115",
    "bag": "\f116",
    "add-to-basket": "\f117",
    "shopping-bag": "\f118",
    "bag-1": "\f119",
    "shopping-bag-1": "\f11a",
    "shopping-bag-2": "\f11b",
    "shopping-cart": "\f11c",
    "shopping-bag-3": "\f11d",
    "shopping-cart-1": "\f11e",
    "sale-tag": "\f11f",
    "online-shopping": "\f120",
    "shopping-bag-4": "\f121",
    "add": "\f122",
    "shopping-cart-2": "\f123",
    "shopping-cart-3": "\f124",
    "shopping-cart-4": "\f125",
    "shopping-cart-5": "\f126",
    "shopping-bag-5": "\f127",
    "cart": "\f128",
    "shopping-bag-6": "\f129",
    "message": "\f12a",
    "settings": "\f12b",
    "trash-bin": "\f12c",
    "notification-bell": "\f12d",
    "clock": "\f12e",
    "discount-bag": "\f12f",
    "message-1": "\f130",
    "menu-bar": "\f131",
    "unlocked": "\f132",
    "user-icon": "\f133",
    "document": "\f134",
    "credit-card": "\f135",
    "user-14": "\f136",
    "shop-bag": "\f137",
    "shopping-bag-7": "\f138",
    "add-to-cart": "\f139",
    "shopping-bag-8": "\f13a",
    "shopping-bag-9": "\f13b",
    "shopping-bag-10": "\f13c",
    "shopping-bag-11": "\f13d",
    "shopping-bag-12": "\f13e",
    "bag-2": "\f13f",
    "shopping-bag-13": "\f140",
    "shopping-cart-6": "\f141",
    "shopping-bag-14": "\f142",
    "shopping-bag-15": "\f143",
    "shopping-bag-16": "\f144",
    "shopping-bag-17": "\f145",
    "shopping-bag-18": "\f146",
    "handbag": "\f147",
    "shopping-cart-7": "\f148",
    "shopping-cart-8": "\f149",
    "shopping-bag-19": "\f14a",
    "shopping-trolley": "\f14b",
    "ecommerce": "\f14c",
    "shopping-cart-9": "\f14d",
    "shopping-bag-20": "\f14e",
    "cart-1": "\f14f",
    "shopping-cart-10": "\f150",
    "shopping-bag-21": "\f151",
    "shopping": "\f152",
    "heart": "\f153",
    "heart-1": "\f154",
    "share": "\f155",
    "chart-up": "\f156",
    "investment": "\f157",
    "price-tag": "\f158",
    "stock-chart": "\f159",
    "oil-price": "\f15a",
    "chart": "\f15b",
    "stock-chart-1": "\f15c",
    "pie-chart": "\f15d",
    "growth-chart": "\f15e",
    "graph": "\f15f",
    "bar-chart": "\f160",
    "compare": "\f161",
    "scales": "\f162",
    "compare-1": "\f163",
    "compare-2": "\f164",
    "before-after": "\f165",
    "bar-chart-1": "\f166",
    "price-tag-1": "\f167",
    "circle": "\f168",
    "exchange": "\f169",
    "circular-arrows": "\f16a",
    "undo": "\f16b",
    "up-down": "\f16c",
    "exchange-1": "\f16d",
    "exchange-2": "\f16e",
    "shuffle": "\f16f",
    "shuffle-1": "\f170",
    "shuffle-2": "\f171",
    "shuffle-3": "\f172",
    "shuffle-4": "\f173",
    "video-player": "\f174",
    "shopping-bag-22": "\f175",
    "store": "\f176",
    "shop": "\f177",
    "store-1": "\f178",
    "shop-1": "\f179",
    "shop-2": "\f17a",
    "badge": "\f17b",
    "medal": "\f17c",
    "medal-1": "\f17d",
    "badge-1": "\f17e",
    "medal-2": "\f17f",
    "medal-3": "\f180",
    "medal-4": "\f181",
    "medal-5": "\f182",
    "reward": "\f183",
    "quality": "\f184",
    "medal-6": "\f185",
    "package": "\f186",
    "delivery": "\f187",
    "box": "\f188",
    "sending": "\f189",
    "edit": "\f18a",
    "pencil": "\f18b",
    "conversation": "\f18c",
    "question": "\f18d",
    "question-1": "\f18e",
    "question-2": "\f18f",
    "request": "\f190",
    "question-3": "\f191",
    "question-4": "\f192",
    "question-5": "\f193",
    "question-6": "\f194",
    "question-7": "\f195",
);

.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-user-1:before {
    content: map-get($flaticon-map, "user-1");
}
.flaticon-user-2:before {
    content: map-get($flaticon-map, "user-2");
}
.flaticon-user-3:before {
    content: map-get($flaticon-map, "user-3");
}
.flaticon-user-4:before {
    content: map-get($flaticon-map, "user-4");
}
.flaticon-user-5:before {
    content: map-get($flaticon-map, "user-5");
}
.flaticon-profile-user:before {
    content: map-get($flaticon-map, "profile-user");
}
.flaticon-account:before {
    content: map-get($flaticon-map, "account");
}
.flaticon-account-1:before {
    content: map-get($flaticon-map, "account-1");
}
.flaticon-user-6:before {
    content: map-get($flaticon-map, "user-6");
}
.flaticon-account-2:before {
    content: map-get($flaticon-map, "account-2");
}
.flaticon-user-7:before {
    content: map-get($flaticon-map, "user-7");
}
.flaticon-user-8:before {
    content: map-get($flaticon-map, "user-8");
}
.flaticon-user-9:before {
    content: map-get($flaticon-map, "user-9");
}
.flaticon-user-10:before {
    content: map-get($flaticon-map, "user-10");
}
.flaticon-user-11:before {
    content: map-get($flaticon-map, "user-11");
}
.flaticon-info:before {
    content: map-get($flaticon-map, "info");
}
.flaticon-user-12:before {
    content: map-get($flaticon-map, "user-12");
}
.flaticon-user-13:before {
    content: map-get($flaticon-map, "user-13");
}
.flaticon-love:before {
    content: map-get($flaticon-map, "love");
}
.flaticon-key:before {
    content: map-get($flaticon-map, "key");
}
.flaticon-bag:before {
    content: map-get($flaticon-map, "bag");
}
.flaticon-add-to-basket:before {
    content: map-get($flaticon-map, "add-to-basket");
}
.flaticon-shopping-bag:before {
    content: map-get($flaticon-map, "shopping-bag");
}
.flaticon-bag-1:before {
    content: map-get($flaticon-map, "bag-1");
}
.flaticon-shopping-bag-1:before {
    content: map-get($flaticon-map, "shopping-bag-1");
}
.flaticon-shopping-bag-2:before {
    content: map-get($flaticon-map, "shopping-bag-2");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon-map, "shopping-cart");
}
.flaticon-shopping-bag-3:before {
    content: map-get($flaticon-map, "shopping-bag-3");
}
.flaticon-shopping-cart-1:before {
    content: map-get($flaticon-map, "shopping-cart-1");
}
.flaticon-sale-tag:before {
    content: map-get($flaticon-map, "sale-tag");
}
.flaticon-online-shopping:before {
    content: map-get($flaticon-map, "online-shopping");
}
.flaticon-shopping-bag-4:before {
    content: map-get($flaticon-map, "shopping-bag-4");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-shopping-cart-2:before {
    content: map-get($flaticon-map, "shopping-cart-2");
}
.flaticon-shopping-cart-3:before {
    content: map-get($flaticon-map, "shopping-cart-3");
}
.flaticon-shopping-cart-4:before {
    content: map-get($flaticon-map, "shopping-cart-4");
}
.flaticon-shopping-cart-5:before {
    content: map-get($flaticon-map, "shopping-cart-5");
}
.flaticon-shopping-bag-5:before {
    content: map-get($flaticon-map, "shopping-bag-5");
}
.flaticon-cart:before {
    content: map-get($flaticon-map, "cart");
}
.flaticon-shopping-bag-6:before {
    content: map-get($flaticon-map, "shopping-bag-6");
}
.flaticon-message:before {
    content: map-get($flaticon-map, "message");
}
.flaticon-settings:before {
    content: map-get($flaticon-map, "settings");
}
.flaticon-trash-bin:before {
    content: map-get($flaticon-map, "trash-bin");
}
.flaticon-notification-bell:before {
    content: map-get($flaticon-map, "notification-bell");
}
.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-discount-bag:before {
    content: map-get($flaticon-map, "discount-bag");
}
.flaticon-message-1:before {
    content: map-get($flaticon-map, "message-1");
}
.flaticon-menu-bar:before {
    content: map-get($flaticon-map, "menu-bar");
}
.flaticon-unlocked:before {
    content: map-get($flaticon-map, "unlocked");
}
.flaticon-user-icon:before {
    content: map-get($flaticon-map, "user-icon");
}
.flaticon-document:before {
    content: map-get($flaticon-map, "document");
}
.flaticon-credit-card:before {
    content: map-get($flaticon-map, "credit-card");
}
.flaticon-user-14:before {
    content: map-get($flaticon-map, "user-14");
}
.flaticon-shop-bag:before {
    content: map-get($flaticon-map, "shop-bag");
}
.flaticon-shopping-bag-7:before {
    content: map-get($flaticon-map, "shopping-bag-7");
}
.flaticon-add-to-cart:before {
    content: map-get($flaticon-map, "add-to-cart");
}
.flaticon-shopping-bag-8:before {
    content: map-get($flaticon-map, "shopping-bag-8");
}
.flaticon-shopping-bag-9:before {
    content: map-get($flaticon-map, "shopping-bag-9");
}
.flaticon-shopping-bag-10:before {
    content: map-get($flaticon-map, "shopping-bag-10");
}
.flaticon-shopping-bag-11:before {
    content: map-get($flaticon-map, "shopping-bag-11");
}
.flaticon-shopping-bag-12:before {
    content: map-get($flaticon-map, "shopping-bag-12");
}
.flaticon-bag-2:before {
    content: map-get($flaticon-map, "bag-2");
}
.flaticon-shopping-bag-13:before {
    content: map-get($flaticon-map, "shopping-bag-13");
}
.flaticon-shopping-cart-6:before {
    content: map-get($flaticon-map, "shopping-cart-6");
}
.flaticon-shopping-bag-14:before {
    content: map-get($flaticon-map, "shopping-bag-14");
}
.flaticon-shopping-bag-15:before {
    content: map-get($flaticon-map, "shopping-bag-15");
}
.flaticon-shopping-bag-16:before {
    content: map-get($flaticon-map, "shopping-bag-16");
}
.flaticon-shopping-bag-17:before {
    content: map-get($flaticon-map, "shopping-bag-17");
}
.flaticon-shopping-bag-18:before {
    content: map-get($flaticon-map, "shopping-bag-18");
}
.flaticon-handbag:before {
    content: map-get($flaticon-map, "handbag");
}
.flaticon-shopping-cart-7:before {
    content: map-get($flaticon-map, "shopping-cart-7");
}
.flaticon-shopping-cart-8:before {
    content: map-get($flaticon-map, "shopping-cart-8");
}
.flaticon-shopping-bag-19:before {
    content: map-get($flaticon-map, "shopping-bag-19");
}
.flaticon-shopping-trolley:before {
    content: map-get($flaticon-map, "shopping-trolley");
}
.flaticon-ecommerce:before {
    content: map-get($flaticon-map, "ecommerce");
}
.flaticon-shopping-cart-9:before {
    content: map-get($flaticon-map, "shopping-cart-9");
}
.flaticon-shopping-bag-20:before {
    content: map-get($flaticon-map, "shopping-bag-20");
}
.flaticon-cart-1:before {
    content: map-get($flaticon-map, "cart-1");
}
.flaticon-shopping-cart-10:before {
    content: map-get($flaticon-map, "shopping-cart-10");
}
.flaticon-shopping-bag-21:before {
    content: map-get($flaticon-map, "shopping-bag-21");
}
.flaticon-shopping:before {
    content: map-get($flaticon-map, "shopping");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-heart-1:before {
    content: map-get($flaticon-map, "heart-1");
}
.flaticon-share:before {
    content: map-get($flaticon-map, "share");
}
.flaticon-chart-up:before {
    content: map-get($flaticon-map, "chart-up");
}
.flaticon-investment:before {
    content: map-get($flaticon-map, "investment");
}
.flaticon-price-tag:before {
    content: map-get($flaticon-map, "price-tag");
}
.flaticon-stock-chart:before {
    content: map-get($flaticon-map, "stock-chart");
}
.flaticon-oil-price:before {
    content: map-get($flaticon-map, "oil-price");
}
.flaticon-chart:before {
    content: map-get($flaticon-map, "chart");
}
.flaticon-stock-chart-1:before {
    content: map-get($flaticon-map, "stock-chart-1");
}
.flaticon-pie-chart:before {
    content: map-get($flaticon-map, "pie-chart");
}
.flaticon-growth-chart:before {
    content: map-get($flaticon-map, "growth-chart");
}
.flaticon-graph:before {
    content: map-get($flaticon-map, "graph");
}
.flaticon-bar-chart:before {
    content: map-get($flaticon-map, "bar-chart");
}
.flaticon-compare:before {
    content: map-get($flaticon-map, "compare");
}
.flaticon-scales:before {
    content: map-get($flaticon-map, "scales");
}
.flaticon-compare-1:before {
    content: map-get($flaticon-map, "compare-1");
}
.flaticon-compare-2:before {
    content: map-get($flaticon-map, "compare-2");
}
.flaticon-before-after:before {
    content: map-get($flaticon-map, "before-after");
}
.flaticon-bar-chart-1:before {
    content: map-get($flaticon-map, "bar-chart-1");
}
.flaticon-price-tag-1:before {
    content: map-get($flaticon-map, "price-tag-1");
}
.flaticon-circle:before {
    content: map-get($flaticon-map, "circle");
}
.flaticon-exchange:before {
    content: map-get($flaticon-map, "exchange");
}
.flaticon-circular-arrows:before {
    content: map-get($flaticon-map, "circular-arrows");
}
.flaticon-undo:before {
    content: map-get($flaticon-map, "undo");
}
.flaticon-up-down:before {
    content: map-get($flaticon-map, "up-down");
}
.flaticon-exchange-1:before {
    content: map-get($flaticon-map, "exchange-1");
}
.flaticon-exchange-2:before {
    content: map-get($flaticon-map, "exchange-2");
}
.flaticon-shuffle:before {
    content: map-get($flaticon-map, "shuffle");
}
.flaticon-shuffle-1:before {
    content: map-get($flaticon-map, "shuffle-1");
}
.flaticon-shuffle-2:before {
    content: map-get($flaticon-map, "shuffle-2");
}
.flaticon-shuffle-3:before {
    content: map-get($flaticon-map, "shuffle-3");
}
.flaticon-shuffle-4:before {
    content: map-get($flaticon-map, "shuffle-4");
}
.flaticon-video-player:before {
    content: map-get($flaticon-map, "video-player");
}
.flaticon-shopping-bag-22:before {
    content: map-get($flaticon-map, "shopping-bag-22");
}
.flaticon-store:before {
    content: map-get($flaticon-map, "store");
}
.flaticon-shop:before {
    content: map-get($flaticon-map, "shop");
}
.flaticon-store-1:before {
    content: map-get($flaticon-map, "store-1");
}
.flaticon-shop-1:before {
    content: map-get($flaticon-map, "shop-1");
}
.flaticon-shop-2:before {
    content: map-get($flaticon-map, "shop-2");
}
.flaticon-badge:before {
    content: map-get($flaticon-map, "badge");
}
.flaticon-medal:before {
    content: map-get($flaticon-map, "medal");
}
.flaticon-medal-1:before {
    content: map-get($flaticon-map, "medal-1");
}
.flaticon-badge-1:before {
    content: map-get($flaticon-map, "badge-1");
}
.flaticon-medal-2:before {
    content: map-get($flaticon-map, "medal-2");
}
.flaticon-medal-3:before {
    content: map-get($flaticon-map, "medal-3");
}
.flaticon-medal-4:before {
    content: map-get($flaticon-map, "medal-4");
}
.flaticon-medal-5:before {
    content: map-get($flaticon-map, "medal-5");
}
.flaticon-reward:before {
    content: map-get($flaticon-map, "reward");
}
.flaticon-quality:before {
    content: map-get($flaticon-map, "quality");
}
.flaticon-medal-6:before {
    content: map-get($flaticon-map, "medal-6");
}
.flaticon-package:before {
    content: map-get($flaticon-map, "package");
}
.flaticon-delivery:before {
    content: map-get($flaticon-map, "delivery");
}
.flaticon-box:before {
    content: map-get($flaticon-map, "box");
}
.flaticon-sending:before {
    content: map-get($flaticon-map, "sending");
}
.flaticon-edit:before {
    content: map-get($flaticon-map, "edit");
}
.flaticon-pencil:before {
    content: map-get($flaticon-map, "pencil");
}
.flaticon-conversation:before {
    content: map-get($flaticon-map, "conversation");
}
.flaticon-question:before {
    content: map-get($flaticon-map, "question");
}
.flaticon-question-1:before {
    content: map-get($flaticon-map, "question-1");
}
.flaticon-question-2:before {
    content: map-get($flaticon-map, "question-2");
}
.flaticon-request:before {
    content: map-get($flaticon-map, "request");
}
.flaticon-question-3:before {
    content: map-get($flaticon-map, "question-3");
}
.flaticon-question-4:before {
    content: map-get($flaticon-map, "question-4");
}
.flaticon-question-5:before {
    content: map-get($flaticon-map, "question-5");
}
.flaticon-question-6:before {
    content: map-get($flaticon-map, "question-6");
}
.flaticon-question-7:before {
    content: map-get($flaticon-map, "question-7");
}
