.product-box-inner,
.product .product-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .8s;
  transform-style: preserve-3d;
}

article .variable-cart-product,
.product .variable-cart-product {
  transform: rotateY(180deg);
  background: #f7f7f7;
  text-align: right;
  display: flex;
  flex-direction: column;
  z-index: 999999999999;
  overflow-y: auto;
  gap: 10px;
}
.product .variable-cart-product{
  padding: 0 13px;
}
article .variable-cart-product,
.product .variable-cart-product {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  top: 0;
}
article.off-product{
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),transform .2s cubic-bezier(.4,0,1,1);
  /* height: 325px; */
}
ul.product-box li.product{
    display: inline-block;
    transition: box-shadow .15s ease;
    background-color: #fff;
    padding-bottom: 0;
    margin: 0;
    text-align: center;
    /* height: 420px; */
}
.wcqv_contend .des-info{
  display: flex;
  flex-direction: column;
}
.variable-cart-product .wcqv_contend{
  width: 100%;
  padding: 0 5px;
}
.not-shop-page.prob-item .variable-cart-product .wcqv_contend{
  /* padding: 5px 0 0 0;
  margin-top: 40px; */
}

.variations tr{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
}
.variations tr:last-child{
  margin-bottom: 0 !important;
}
.wcqv_contend .attr_swatch_design_2 .thwvsf-item-span::before{
  top: 3px;
  right: 3px;
  font-size: 13px;
}
.prob-item .attr_swatch_design_2.thwvsf-label-li .thwvsf-item-span{
  gap: unset;
  line-height: 24px;
  position: relative;
  right: 4px;
  top: -2px;
}
.prob-item .attr_swatch_design_2.thwvsf-label-li .thwvsf-item-span::before{
  font-size: 15px;
}
.wcqv_contend  .des-right,.wcqv_contend  .des-left{
  width: 100%;
  margin: 0;
  float: unset;
}
.wcqv_contend .product-en,
.wcqv_contend  .rating_and_nummbercomment,
.wcqv_contend .product_meta,
.wcqv_contend  .meta-additional,
.wcqv_contend  .hamta,
.wcqv_contend  .special_send_box,
.wcqv_contend  .product-seller-info,
.wcqv_contend  .parskala-update-price,
.wcqv_contend  .better-btn,
.wcqv_contend  .better-btn,
.wcqv_contend  .date-send-pro,
.wcqv_contend  .breadcrumb,
.wcqv_contend  .excerpt_product,
.wcqv_contend  .info-other,
.wcqv_contend  .tagged_as,
.wcqv_contend  .guaranteed_product,
.wcqv_contend  .dokan-store-support-btn-product,
.wcqv_contend .woocommerce-variation-availability,
.wcqv_contend .flexed .price_detales,
.wcqv_contend .posted_in,

.wcqv_contend  .product_return{
  display: none !important;
}

.wcqv_contend .thwvsf_fields select{
  width: 100%;
}
.add2cart--wrapper>.loading {
  align-items: center;
  display: flex;
  height: calc(100% - 36px);
  justify-content: center;
  width: 100%;
}
.loading svg {
  height: 64px;
  width: 64px;
}
.wcqv_contend .des-left .ui-box{
  background: transparent;
  border: 0 !important;
  padding: 0 !important;
}
.wcqv_contend .des-left .woocommerce-variation-add-to-cart{
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 165px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
.prob-item.not-shop-page .wcqv_contend .des-left .woocommerce-variation-add-to-cart{
  width: unset;
}
.wcqv_contend .des-left .cart-pro bdi{
  font-size: 13px;
}
.wcqv_contend .des-left .cart-pro ins{
  margin-top: 3px;
}
.wcqv_contend .index-prices-pro div .index-discount-pro,.wcqv_contend  .cart-pro span.index-discount-pro {
  font-size: 12px;
  line-height: 20px;
}
.wcqv_contend .back_holder{
  padding: 0;
  margin-top: 13px;
}
.wcqv_contend .des-right .variations .label{
  font-size: 13px;
  font-weight: 600;
}
.wcqv_contend .product-type-simple .back_holder{
  align-items: center;
}
.wcqv_contend .des-left form.cart{
  flex-direction: column;
  gap: 10px;
  max-width: 180px;
  width: 100%;
}
.wcqv_contend .product-type-simple .cart-pro.price{
  display: none !important;
}
.wcqv_contend .single_variation_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wcqv_contend .single_variation_wrap .woocommerce-variation-availability{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
}
.wcqv_contend .single_variation_wrap .woocommerce-variation-availability{
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
}
.prob-item .wcqv_contend .single_variation_wrap .woocommerce-variation-availability .prk-box{
  font-size: 19px;
  width: 17px;
  height: 11px;
  margin-left: 7px;
  align-items: center;
  display: flex;
  margin-top: -2px;
}
.wcqv_contend .single_variation_wrap .woocommerce-variation-availability .prk-box{
  width: 18px;
  height: 11px;
  margin-left: 8px;
  align-items: center;
  display: flex;
  margin-top: -2px;
}
.wcqv_contend .des-left .quantity{
  align-items: center;
    border: 1px solid #e0e0e2;
    display: inline-flex;
    overflow: hidden;
    border-radius: 6px;
    height: 40px;
    width: 100% !important;
    margin: 0 !important;
}
.wcqv_contend .des-left .quantity .decrease-qty,.wcqv_contend .des-left .quantity .increase-qty{
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
}
.wcqv_contend .des-left .quantity .increase-qty.plus{

  border-left: 1px solid #e0e0e2;
  border-right: none;
}
.wcqv_contend .des-left .quantity .decrease-qty.minus{
  border-right: 1px solid #e0e0e2;
  border-left: none;
}
.wcqv_contend .des-left .quantity .input-text{
  writing-mode: horizontal-tb !important;
  border-radius: 0;
  height: 40px;
  -moz-appearance: textfield;
  border: none;
  border-radius: 0;
  text-align: center;
  width: 60px;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 8px;
  display: block;
  height: 48px;
  padding: 8px;
  width: 100%;
  outline: 0;
}
.wcqv_contend .des-left .quantity  i{
  font-size: 11px;
  color: #232933;
  font-weight: 100;
}
button.back-to-product{
  border: 0;
  /* position: absolute; */
  /* top: 10px; */
  /* right: 10px; */
  border-radius: 8px;
  width: 43px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
}
button.single_add_to_cart_button {
  display: inline-block;
  width: 100%;
  font-family: prk-font;
  border-radius: 6px;
  color: #fff;
  position: relative;
  overflow: hidden;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: linear-gradient(to right,#ff3a30,#ff6a00);
}
.not-shop-page.prob-item  .variable-cart-product{
  padding: 0 !important;
}
.not-shop-page.prob-item button.back-to-product{
  width: 40px;
  height: 32px;
  font-size: 25px;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
body .woocommerce a.button.quick_add2cart,
.quick_add2cart.button{
  background: #f1ab21;
  color: #fff;
  border-radius: 12px !important;
  overflow: hidden !important;
  padding: 6px 6px 5px 6px !important;
  font-size: 21px !important;
  position: absolute !important;
  bottom: 10px !important;
  right: 0px !important;
  width: 36px !important;
  height: 35px !important;
  display: flex !important;
  align-items: cente !important;
  line-height: 15px !important;
  justify-content: center !important;
  transition: 0.2s all !important;
  cursor: pointer !important;
}
ul.product-box li.product .quick_add2cart.button{
  right: 10px !important;
  bottom: 10px !important;
}
.quick_add2cart.text{
  position: absolute;
  right: 0;
  padding: 6px 8px;
  bottom: 0px;
  border-radius: 6px;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
li.product .quick_add2cart.text{
  right: 15px;
  bottom: 15px;
  right: 15px;
  bottom: 15px;
  padding: 9px 13px;
}
.prob-item .quick_add2cart:hover {
  opacity: 0.8;
  transition: 0.2s all;
}
.prob-item .variations tr{
  margin-bottom: 5px;
}
body .prob-item .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.attr_swatch_design_2 {
  padding: 5px 5px 5px 20px !important;
  margin: 5px 0px 3px 5px !important;
  border-radius: 50% !important;
  width: 28px !important;
  height: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prob-item .thwvsf-wrapper-ul .thwvsf-tooltip .tooltiptext.tooltip_swatch_design_2{
  display: none !important;
}
.prob-item .thwvsf-wrapper-ul .thwvsf-label-li.attr_swatch_design_2 .thwvsf-item-span.item-span-text{
  font-size: 0 !important;
}
.prob-item  .attr_swatch_design_2.thwvsf-label-li .thwvsf-item-span::before{
  border: 0 !important;
}
.prob-item .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.attr_swatch_design_2 .thwvsf-item-span-color{
  border: 1px solid #ddd !important;
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50% !important;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.prob-item .wcqv_contend .attr_swatch_design_2 .thwvsf-item-span::before{
  top: 3px;
  right: 3px;
  font-size: 17px;
}
.prob-item .back_holder .cart-pro{
  margin-bottom: 5px;
}
.prob-item .wcqv_contend .des-left .quantity{
  height: 33px;
}
.prob-item button.single_add_to_cart_button{
 font-size: 12px;
}
.carousel_lister .off-product{
  height: 285px;
  width: 175px !important;
}
.carousel_lister .wcqv_contend .back_holder {
  padding: 0;
  margin-top: 13px;
  box-shadow: unset !important;
  position: unset;
  border: 0;
  margin: 0;
  padding: 0;
  display: unset;
}
.carousel_lister .wcqv_contend .woocommerce-variation.single_variation{
  order: 1;
}
.carousel_lister .wcqv_contend .des-left .woocommerce-variation-add-to-cart{
  order: 3;
}
.carousel_lister .wcqv_contend .des-left .woocommerce-variation-add-to-cart{
  width: 100% !important;
}
.carousel_lister .wcqv_contend .variations_form.cart{
  padding: 0;
}
.carousel_lister .wcqv_contend .des-left form.cart{
  width: 100% !important;
}
.prob-item.item-pro{
  height: 100%;
}

.show_salsess .carousel_lister .item-pro{
  height: 305px;
  width: 185px;
}
.carousel_lister .prk_show_back_image .thumb-pro{
  width: 100% !important;
  max-width: 100% !important;
}
.carousel_lister .prk_show_back_image .thumb-pro img{
  max-width: 87px !important;
}
.carousel_lister .item-pro .index-prices-pro{
  margin-top: 10px !important;
}
.carousel_lister .item-pro{
  height: 285px;
  padding: 15px;
}



@media (max-width: 990px) {
  li.product .wcqv_contend .back_holder {
    padding: 0;
    margin-top: 13px;
    box-shadow: unset !important;
    position: unset;
    border: 0;
    margin: 0;
    padding: 0;
    display: unset;
  }
  .product-box-inner,
  .product .product-box-inner {
    min-height: auto;
  
  }
  li.product .wcqv_contend .woocommerce-variation.single_variation{
    order: 1;
  }
  li.product .wcqv_contend .des-left .woocommerce-variation-add-to-cart{
    order: 3;
  }
  li.product .wcqv_contend .des-left .woocommerce-variation-add-to-cart{
    width: 100% !important;
  }
  li.product .wcqv_contend .variations_form.cart{
    padding: 0;
  }
  li.product .wcqv_contend .des-left form.cart{
    width: 100% !important;
  }
  body button.back-to-product{
    width: 40px;
    height: 30px;
  }
  /* body .variable-cart-product .wcqv_contend{
    margin-top: 40px;
  } */
  body li.product .quick_add2cart.text{
    bottom: 5px;
    font-size: 12px;
  }
 }